<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>자유게시판</title>
</th:block>

<th:block layout:fragment="content">
    <h1 class="mt-4">자유게시판</h1>
    <div class="right" style="text-align: right">
        <button type="button" class="btn btn-success">
            모든글 조회
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="openModal()">
            글 작성
        </button>
        <button type="button" class="btn btn-danger">
            글 삭제
        </button>
    </div>
    <ol class="breadcrumb mb-4">

    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            자유게시판
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>글작성자</th>
                    <th>글제목</th>
                    <th>글내용</th>
                    <th>작성일자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td th:text="${post.getFreeBoardAuthor()}"></td>
                    <td>
                        <a th:href="@{'/freeBoard/details/' + ${post.freeBoardId}}">
                            <span th:text="${post.freeBoardTitle}"></span>
                        </a>
                    </td>
                    <td th:text="${post.getFreeBoardText()}"></td>
                    <td th:if="${post.freeBoardRegDate != null}" th:text="${#temporals.format(post.freeBoardRegDate, 'yyyy-MM-dd HH시 mm분')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

<th:block layout:fragment="modal">
    <!-- 글 작성 팝업 모달 -->
    <div class="modal fade" id="writePostModal" tabindex="-1" role="dialog" aria-labelledby="writePostModalLabel"
         aria-hidden="true" th:fragment="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="writePostModalLabel">자유게시판 글 작성</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 글 작성 폼 -->
                    <form id="postForm">
                        <label for="freeBoardTitle">제목</label>
                        <input id="freeBoardTitle" name="freeBoardTitle" class="form-control">
                        <label for="freeBoardText">내용</label>
                        <textarea id="freeBoardText" name="freeBoardText" rows="8" class="form-control"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="submitPostForm()">작성 완료</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        var userId = /*[[${session.userId}]]*/ null; // 세션의 userId 값을 가져옴

        function openModal() {
            // 세션의 userId 값이 null이면 알림 창 띄우기, 그렇지 않으면 모달 열기
            if (userId === null) {
                alert('로그인이 필요합니다!');
            } else {
                $('#writePostModal').modal('show');
            }
        }

        function closeModal() {
             $('#writePostModal').modal('hide');
        }

        <!-- 글 작성 완료 시 실행되는 스크립트 -->
        function submitPostForm() {
            var freeBoardTitle = $('#freeBoardTitle').val();
            var freeBoardText = $('#freeBoardText').val();

            // 글 작성 완료 후 서버로 데이터 전송 (Ajax를 사용하여 비동기 처리)
            $.ajax({
                type: 'POST',
                url: '/freeBoard/create', // 실제로 데이터를 저장하는 엔드포인트로 변경해야 합니다.
                data: {freeBoardTitle: freeBoardTitle, freeBoardText: freeBoardText},
                success: function () {
                    // 작성 완료 후 팝업 닫기
                    $('#writePostModal').modal('hide');
                    // 메인 화면 새로고침
                    location.reload();
                },
                error: function () {
                    alert('글 작성 실패');
                }
            });
        }
    </script>
</th:block>

</html>
