<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>자유게시판</title>
</th:block>

<th:block layout:fragment="content">
    <!-- 제목 -->
    <div class="mt-4 mb-2 d-flex align-items-center">
        <i class="fas fa-table me-1 fa-2x me-1"></i>
        <h2 class="mb-0"> 자유게시판</h2>
    </div>
    <!-- 버튼 -->
    <div class="right" style="text-align: right">
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="openModal()">
            글 작성
        </button>
    </div>
    <!-- 검색 입력란과 버튼 -->
    <form id="searchForm" action="/freeBoard" method="get">
        <div class="input-group mb-3 mt-3" style="display: flex; justify-content: flex-end;">
            <input type="text" class="form-control me-1" placeholder="검색어를 입력하세요" name="keyword"
                   id="searchInput" style="max-width: 200px;">
            <span class="input-group-btn">
                <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </span>
        </div>
    </form>

    <!-- 테이블 -->
    <div>
        <div style="height: 450px;">
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 15%;">글작성자</th>
                    <th style="width: 15%;">글제목</th>
                    <th style="width: 50%;">글내용</th>
                    <th style="width: 20%;">작성일자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td th:text="${post.getFreeBoardAuthor()}"></td>
                    <td>
                        <a th:href="@{'/freeBoard/details/' + ${post.freeBoardId}}">
                            <span th:text="${post.freeBoardTitle}"></span>
                        </a>
                    </td>
                    <td th:text="${post.getFreeBoardText()}"></td>
                    <td th:if="${post.freeBoardRegDate != null}" th:text="${#temporals.format(post.freeBoardRegDate, 'yyyy-MM-dd HH시 mm분')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 페이지 번호 출력 -->
        <div class="pagination justify-content-center mt-3">
            <ul class="pagination">
                <!-- 이전 페이지 -->
                <li class="page-item" th:if="${maker.prev}">
                    <a class="page-link" th:href="@{'/freeBoard?pageNum=' + ${maker.cri.pageNum - 1}}">&laquo;</a>
                </li>
                <!-- 페이지 번호 -->
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(maker.startPage, maker.endPage)}">
                    <!-- 조건에 따라 클래스를 추가하여 스타일 변경 -->
                    <a th:class="${pageNum == maker.cri.pageNum} ? 'page-link active' : 'page-link disabled'" th:if="${keyword}" th:href="@{'/freeBoard?keyword=' + ${keyword} +  '&pageNum=' + ${pageNum}}" th:text="${pageNum}"></a>
                    <a th:class="${pageNum == maker.cri.pageNum} ? 'page-link active' : 'page-link disabled'" th:unless="${keyword}" th:href="@{'/freeBoard?pageNum=' + ${pageNum}}" th:text="${pageNum}"></a>
                </li>
                <!-- 다음 페이지 -->
                <li class="page-item" th:if="${maker.next}">
                    <a class="page-link" th:href="@{'/freeBoard?pageNum=' + ${maker.cri.pageNum + 1}}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</th:block>

<th:block layout:fragment="modal">
    <!-- 글 작성 팝업 모달 -->
    <div class="modal fade" id="writePostModal" tabindex="-1" role="dialog" aria-labelledby="writePostModalLabel" aria-hidden="true" th:fragment="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="writePostModalLabel">자유게시판 글 작성</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 글 작성 폼 -->
                    <form id="postForm">
                        <label for="freeBoardTitle">제목</label>
                        <input id="freeBoardTitle" name="freeBoardTitle" class="form-control">
                        <label for="freeBoardText">내용</label>
                        <textarea id="freeBoardText" name="freeBoardText" rows="8" class="form-control"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="submitPostForm()">작성 완료</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        var userId = /*[[${session.userId}]]*/ null; // 세션의 userId 값을 가져옴

        $(document).ready(function() {
            $('#viewAllPostsBtn').click(function() {
                // AJAX 요청 보내기
                $.ajax({
                    type: 'GET',
                    url: '/freeBoard/allSearch', // 모든 글을 조회하는 엔드포인트로 변경해야 합니다.
                    success: function(response) {
                        // 성공적으로 글 목록을 받았을 때 실행할 코드 작성
                        console.log('모든 글 조회 결과:', response);
                        // 테이블 초기화
                        $('.table tbody').empty();
                        // 조회된 글 목록을 테이블에 추가
                        $.each(response, function(index, post) {
                            var date = new Date(post.freeBoardRegDate);
                            var formattedDate = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2) + ' ' + ('0' + date.getHours()).slice(-2) + '시 ' + ('0' + date.getMinutes()).slice(-2) + '분';
                            var newRow = $('<tr>');
                            newRow.append('<td>' + post.freeBoardAuthor + '</td>');
                            newRow.append('<td><a href="/freeBoard/details/' + post.freeBoardId + '">' + post.freeBoardTitle + '</a></td>');
                            newRow.append('<td>' + post.freeBoardText + '</td>');
                            newRow.append('<td>' + formattedDate + '</td>');
                            $('.table tbody').append(newRow);
                        });
                    },
                    error: function(xhr, status, error) {
                        // 오류가 발생했을 때 실행할 코드 작성
                        console.error('모든 글 조회 오류:', error);
                    }
                });
            });
        });

        function openModal() {
            // 세션의 userId 값이 null이면 알림 창 띄우기, 그렇지 않으면 모달 열기
            if (userId === null) {
                alert('로그인이 필요합니다!');
            } else {
                $('#writePostModal').modal('show');
            }
        }

        function closeModal() {
            $('#writePostModal').modal('hide');
        }

        // 글 작성 완료 시 실행되는 스크립트
        function submitPostForm() {
            var freeBoardTitle = $('#freeBoardTitle').val();
            var freeBoardText = $('#freeBoardText').val();
            if (freeBoardTitle == "" || freeBoardTitle == null) {
                alert("제목을 입력해주세요");
                return;
            }
            if (freeBoardText == "" || freeBoardText == null) {
                alert("내용을 입력해주세요");
                return;
            }

            // 글 작성 완료 후 서버로 데이터 전송 (Ajax를 사용하여 비동기 처리)
            $.ajax({
                type: 'POST',
                url: '/freeBoard/save', // 실제로 데이터를 저장하는 엔드포인트로 변경해야 합니다.
                data: {
                    freeBoardTitle: freeBoardTitle,
                    freeBoardText: freeBoardText
                },
                success: function(result) {
                    // 작성 완료 후 팝업 닫기
                    $('#writePostModal').modal('hide');
                    // 메인 화면 새로고침
                    location.reload();
                },
                error: function() {
                    alert('글 작성 실패');
                }
            });
        }

        //원래 간단한게 active클래스를 이용해서 끝낼수있었는데 먹히지않는이슈로 임시방편으로 넣어둠...
        document.addEventListener('DOMContentLoaded', function() {
            // 페이지 링크 요소를 찾습니다.
            var pageLinks = document.querySelectorAll('.pagination .page-link');

            // 각 페이지 링크에 대해 반복합니다.
            pageLinks.forEach(function(link) {
                // "active" 클래스가 추가된 경우에만 스타일을 변경하고 클릭을 비활성화합니다.
                if (link.classList.contains('active')) {
                    link.style.color = 'red'; // 빨간색
                    link.style.pointerEvents = 'none'; // 클릭 비활성화
                }
            });
        });


    </script>
</th:block>

</html>
