<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="add-css">
    <link rel="stylesheet" th:href="@{/css/freeBoardStyles.css}">
</th:block>

<th:block layout:fragment="title">
    <title th:text="${post.freeBoardTitle}+' - 자유게시판 상세보기'"></title>
</th:block>

<th:block layout:fragment="content">

    <!-- 제목 -->
    <div class="mt-4 mb-4 d-flex align-items-center">
        <i class="fas fa-table me-1 fa-2x me-1"></i>
        <h2 class="mb-0">자유게시판 상세보기</h2>
    </div>

    <!--내용-->
    <div class="border-top border-success border-2">
        <div class="card mb-4 mt-4" th:if="${post}">
            <div class="card-header">
                <strong th:text="${post.freeBoardTitle}"></strong>
                <div>
                    <span th:text="${post.getFreeBoardAuthor()}"></span>
                    <span class="divider" th:text="${#temporals.format(post.freeBoardRegDate, 'yyyy-MM-dd HH시 mm분')}"></span>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="writing_view_box">
                        <p th:utext="${post.freeBoardText}"></p>
                    </div>
                    <div class="d-flex align-items-end justify-content-between">
                        <div>
                            <a th:href="@{/freeBoard}" class="btn btn-primary mt-2">목록</a>
                        </div>
                        <div class="d-flex align-items-end justify-content-end"
                             th:if="${post.getFreeBoardAuthor()} == ${session.userNickname}">
                            <button type="button" class="btn btn-primary mt-2 ms-2"
                                    data-toggle="modal" onclick="openModal()">수정</button>
                            <button type="button" class="btn btn-danger mt-2 ms-2" id="deleteBtn">삭제</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--댓글 갯수-->
    <div class="comment_count">
        <label for="commentText" class="mb-1">
            댓글 <span style="color: red;" th:text="${#lists.size(comments)}"></span>개
        </label>
    </div>

    <!--댓글 출력-->
    <div th:if="${comments}" id="commentList"
         class="comment_list container-fluid px-0 pt-2 border-top border-success border-2">
        <ul th:each="comment : ${comments}" class="list-unstyled">
            <li>
                <strong th:text="${comment.fbcAuthor}"></strong>
                <span th:text="${comment.fbcText}"></span>
                <span th:text="${#temporals.format(comment.fbcRegDate, 'yyyy-MM-dd HH시 mm분')}"
                      style="color: #999;" class="float-end"></span>
            </li>
        </ul>
    </div>
    <div th:if="${#lists.size(comments) == 0}">
        <p>댓글이 없습니다.</p>
    </div>

    <!-- 댓글 작성 폼 -->
    <div class="container-fluid px-0 mb-4 border-top border-success border-2">
        <div class="pt-4">
            <form id="commentForm" action="/freeBoard/createFbc" method="post">
                <input type="hidden" id="freeBoardId" name="freeBoardId" th:value="${post.freeBoardId}" >
                <input type="hidden" id="fbcAuthor" name="fbcAuthor" th:value="${session.userNickname}" >
                <textarea id="commentText" name="fbcText" rows="4" class="form-control" onkeydown="handleKeyPress(event)"></textarea>
                <div class="d-flex align-items-end justify-content-end">
                    <button type="button" class="btn btn-primary mt-2" onclick="dataSubmit()">댓글 작성</button>
                </div>
            </form>
        </div>
    </div>

    <th:block layout:fragment="modal">
        <!-- 글 작성 팝업 모달 -->
        <div class="modal fade" id="writePostModal" tabindex="-1" role="dialog" aria-labelledby="writePostModalLabel"
             aria-hidden="true" th:fragment="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="writePostModalLabel">자유게시판 글 수정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- 글 작성 폼 -->
                        <form id="postForm">
                            <label for="freeBoardTitle">제목</label>
                            <input id="freeBoardTitle" name="freeBoardTitle" class="form-control" th:value="${post.freeBoardTitle}">
                            <label for="freeBoardText">내용</label>
                            <textarea id="freeBoardText" name="freeBoardText" rows="8" class="form-control" th:text="${post.getFreeBoardText()}"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">닫기</button>
                        <button type="button" class="btn btn-primary" onclick="submitPostForm()">수정</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        const userId = /*[[${session.userId}]]*/ null; // 세션의 userId 값을 가져옴

        // 댓글 생성
        function dataSubmit() {
            // 로그인 여부 체크
            if(userId === "" || userId === null) {
                if(confirm('로그인을 하셔야 댓글을 작성하실 수 있습니다. \n지금 로그인하시겠습니까?')) {
                    window.location.href = '/login';
                    return;
                }else {
                    return;
                }
            }
            // 빈 값인지 확인
            const commentText = document.getElementById("commentText").value;
            if(commentText.trim() === "") {
                 alert("댓글을 입력해주세요.");
                 return; // 함수 실행 종료
            }
            // 폼으로 댓글 넘기기
            let form = document.getElementById("commentForm");
            form.submit();
        }

        function handleKeyPress(event) {
            if (event.keyCode === 13) { // 엔터 키의 keyCode는 13입니다.
                dataSubmit();
            }
        }

        // 모달창 열기
        function openModal() {
            // 세션의 userId 값이 null이면 알림 창 띄우기, 그렇지 않으면 모달 열기
            if (userId === null) {
                alert('로그인이 필요합니다!');
            } else {
                $('#writePostModal').modal('show');
            }
        }

        // 모달창 닫기
        function closeModal() {
             $('#writePostModal').modal('hide');
        }

        // 게시글 수정
        function submitPostForm() {
            var freeBoardId = $('#freeBoardId').val();
            var freeBoardTitle = $('#freeBoardTitle').val();
            var freeBoardText = $('#freeBoardText').val();
            if(freeBoardTitle == "" || freeBoardTitle == null){
                alert("제목을 입력해주세요");
                return;
            }
            if(freeBoardText == "" || freeBoardText == null){
                alert("내용을 입력해주세요");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/freeBoard/save',
                data: {freeBoardTitle: freeBoardTitle, freeBoardText: freeBoardText,freeBoardId:freeBoardId},
                success: function () {
                    // 작성 완료 후 팝업 닫기
                    $('#writePostModal').modal('hide');
                    // 메인 화면 새로고침
                    location.reload();
                },
                error: function () {
                    alert('글 작성 실패');
                }
            });
        }

        // 게시글 삭제
        document.querySelector('#deleteBtn').addEventListener('click', function(){
            const boardId = [[ ${post.freeBoardId} ]];

            if( !confirm('정말 해당 게시글을 삭제할까요?')){
                return false;
            }

            const formHtml = `
                <form action="/freeBoard/delete" id="deleteForm" method="post">
                    <input type="hidden" id="boardId" name="freeBoardId" value="${boardId}" />
                </form>
            `;
            const doc = new DOMParser().parseFromString(formHtml, 'text/html');
            const form = doc.body.firstChild;
            document.body.append(form);
            document.getElementById('deleteForm').submit();
            alert('게시글이 삭제되었습니다.');
        });
    </script>
</th:block>
</html>