<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>자유게시판</title>
</th:block>

<th:block layout:fragment="content">
            <h1 class="mt-4">게시물 상세보기</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    게시물 상세정보
                </div>
                <div class="card-body">
                    <form>
                    <div th:if="${post}">

                        <h2 th:text="${post.freeBoardTitle}"></h2>
                        <p></p>
                        <div th:utext="${post.getFreeBoardText()}"></div>
                        <p></p>
                        <p>
                            작성자: <span th:text="${post.getFreeBoardAuthor()}"></span><br/>
                            작성일자: <span th:text="${#temporals.format(post.freeBoardRegDate, 'yyyy-MM-dd HH시 mm분')}"></span>
                        </p>
                    </div>
                    <div th:unless="${post}">
                        <p>게시물이 존재하지 않습니다.</p>
                    </div>
                    <div th:if="${post.getFreeBoardAuthor()} == ${session.userNickname}">
                        <button type="button" class="btn btn-primary mt-2" data-toggle="modal" onclick="openModal()">수정</button>
                        <button type="button" class="btn btn-danger mt-2" id="deleteBtn">삭제</button>
                    </div>
                    </form>
                </div>
            </div>
    <div id="commentList" class="container-fluid px-4">
        <ul th:if="${comments}" th:each="comment : ${comments}">
            <li>
                <strong th:text="${comment.fbcAuthor}"></strong>:
                <span th:text="${comment.fbcText}"></span>
            </li>
        </ul>
        <p th:unless="${comments}">댓글이 없습니다.</p>
    </div>
    <!-- 댓글 작성 폼 -->
    <form id="commentForm" class="container-fluid px-4" action="/freeBoard/fbcCreate" method="post">
        <i class="fas fa-table me-1 "></i>
        <input type="hidden" id="freeBoardId" name="freeBoardId" th:value="${post.freeBoardId}" >
        <input type="hidden" id="fbcAuthor" name="fbcAuthor" th:value="${session.userNickname}" >
        <label for="commentText">댓글 작성</label>
        <textarea id="commentText" name="fbcText" rows="4" class="form-control" onkeydown="handleKeyPress(event)"></textarea>
        <button type="button" class="btn btn-primary mt-2" onclick="dataSubmit()">댓글 작성</button>
    </form>

    <th:block layout:fragment="modal">
        <!-- 글 작성 팝업 모달 -->
        <div class="modal fade" id="writePostModal" tabindex="-1" role="dialog" aria-labelledby="writePostModalLabel"
             aria-hidden="true" th:fragment="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="writePostModalLabel">자유게시판 글 수정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- 글 작성 폼 -->
                        <form id="postForm">
                            <label for="freeBoardTitle">제목</label>
                            <input id="freeBoardTitle" name="freeBoardTitle" class="form-control" th:value="${post.freeBoardTitle}">
                            <label for="freeBoardText">내용</label>
                            <textarea id="freeBoardText" name="freeBoardText" rows="8" class="form-control" th:text="${post.getFreeBoardText()}"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">닫기</button>
                        <button type="button" class="btn btn-primary" onclick="submitPostForm()">수정</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        var userId = /*[[${session.userId}]]*/ null; // 세션의 userId 값을 가져옴

        function dataSubmit() {
            var commentText = document.getElementById("commentText").value;
            if (commentText.trim() === "") {
                 alert("댓글을 입력해주세요.");
                 return; // 함수 실행 종료
            }
            var form = document.getElementById("commentForm");

            // 폼을 제출합니다.
            form.submit();
        }

        function handleKeyPress(event) {
            if (event.keyCode === 13) { // 엔터 키의 keyCode는 13입니다.
                dataSubmit();
            }
        }

        function openModal() {
            // 세션의 userId 값이 null이면 알림 창 띄우기, 그렇지 않으면 모달 열기
            if (userId === null) {
                alert('로그인이 필요합니다!');
            } else {
                $('#writePostModal').modal('show');
            }
        }

        function closeModal() {
             $('#writePostModal').modal('hide');
        }

        <!-- 글 수정 완료 시 실행되는 스크립트 -->
        function submitPostForm() {
            var freeBoardId = $('#freeBoardId').val();
            var freeBoardTitle = $('#freeBoardTitle').val();
            var freeBoardText = $('#freeBoardText').val();
            if(freeBoardTitle == "" || freeBoardTitle == null){
                alert("제목을 입력해주세요");
                return;
            }
            if(freeBoardText == "" || freeBoardText == null){
                alert("내용을 입력해주세요");
                return;
            }

            // 글 수정 완료 후 서버로 데이터 전송 (Ajax를 사용하여 비동기 처리)
            $.ajax({
                type: 'POST',
                url: '/freeBoard/save', // 실제로 데이터를 저장하는 엔드포인트로 변경해야 합니다.
                data: {freeBoardTitle: freeBoardTitle, freeBoardText: freeBoardText,freeBoardId:freeBoardId},
                success: function () {
                    // 작성 완료 후 팝업 닫기
                    $('#writePostModal').modal('hide');
                    // 메인 화면 새로고침
                    location.reload();
                },
                error: function () {
                    alert('글 작성 실패');
                }
            });
        }

        document.querySelector('#deleteBtn').addEventListener('click', function(){
            const boardId = [[ ${post.freeBoardId} ]];

            if( !confirm('정말 해당 게시글을 삭제할까요?')){
                return false;
            }

            const formHtml = `
                <form action="/freeBoard/delete" id="deleteForm" method="post">
                    <input type="hidden" id="boardId" name="freeBoardId" value="${boardId}" />
                </form>
            `;
            const doc = new DOMParser().parseFromString(formHtml, 'text/html');
            const form = doc.body.firstChild;
            document.body.append(form);
            document.getElementById('deleteForm').submit();
            alert('게시글이 삭제되었습니다.');
        });
    </script>
</th:block>
</html>