<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AttendeeMapper">

    <!--투표 테이블 전체 칼럼-->
    <sql id="voteColumns">
         vote_id
        ,vote_date
    </sql>

    <!--참석 테이블 전체 칼럼-->
    <sql id="attendColumns">
         attend_id
        ,vote_id
        ,fb_user_id
        ,attend_status
    </sql>

    <!--미참여 인원 조회하기-->
    <select id="getNonattendanceUser" resultType="footBall.user.UserResponse" parameterType="java.time.LocalDateTime">
        SELECT *
        FROM fb_user
        WHERE 1=1
        AND fb_user_id IN (
            SELECT fu.fb_user_id
            FROM fb_user fu
            LEFT JOIN (
                SELECT *
                FROM attend
                WHERE vote_id = (
                    SELECT vote_id
                    FROM vote
                    WHERE vote_date = #{sunday}
                )
            ) A
            ON fu.fb_user_id = a.fb_user_id
            WHERE a.fb_user_id IS NULL
            OR fu.fb_user_id IS NULL
        )
        AND fb_user_del_yn = 'N'
        ORDER BY fb_user_id DESC
    </select>

    <!--투표 인원 조회하기-->
    <select id="getAttendedUser" parameterType="java.time.LocalDateTime" resultType="footBall.user.UserResponse">
        SELECT fu.fb_user_id ,fu.fb_user_email ,fu.fb_user_pswd ,fu.fb_user_nickname
            ,fu.fb_user_name ,fu.fb_user_birth ,fu.fb_user_phone ,fu.fb_user_address
            ,fu.fb_user_auth ,fu.fb_user_del_yn ,fu.fb_user_reg_date ,fu.fb_user_mod_date
            ,a.attend_status
        FROM fb_user fu
        LEFT JOIN attend a
        ON fu.fb_user_id = a.fb_user_id
        WHERE 1=1
        AND fu.fb_user_id IN(
            SELECT fb_user_id
            FROM attend
            WHERE vote_id = (
                SELECT vote_id
                FROM vote
                WHERE vote_date = #{sunday}
            )
        )
        AND fu.fb_user_del_yn = 'N'
        ORDER BY fu.fb_user_id DESC;
    </select>

    <!--투표 대상 날짜 생성-->
    <insert id="createDate" parameterType="footBall.attendee.VoteDto" useGeneratedKeys="true" keyProperty="voteId">
        INSERT INTO vote(
            vote_date
        )
        VALUES(
            #{voteDate}
        )
    </insert>

    <!--투표 대상 날짜 삭제-->
    <delete id="deleteDate" parameterType="footBall.attendee.VoteDto">
        DELETE FROM vote
        WHERE vote_date = #{voteDate}
    </delete>

    <!--투표 대상 날짜 조회-->
    <select id="getDate" parameterType="footBall.attendee.VoteDto" resultType="footBall.attendee.VoteDto">
        SELECT *
        FROM vote
        WHERE vote_date = #{voteDate};
    </select>

    <!--투표 대상 날짜 존재 여부 판별-->
    <select id="findDate" parameterType="footBall.attendee.VoteDto" resultType="int">
        SELECT COUNT(*)
        FROM vote
        WHERE vote_date = #{voteDate};
    </select>

    <!--투표 값 업데이트-->
    <update id="updateVote" parameterType="java.util.Map">
        UPDATE attend
        SET attend_status = #{object1}
        WHERE 1=1
        AND fb_user_id = #{object2}
        AND vote_id = (
            SELECT vote_id
            FROM vote
            WHERE vote_date = #{object3}
        )
    </update>
</mapper>