<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FeeMapper">

    <!--회비 테이블 전체 칼럼-->
    <sql id="feeColumns">
         fee_id
        ,fb_user_id
        ,fee_month
    </sql>
</mapper>