<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FeeMapper">

    <!--회비 테이블 전체 칼럼-->
    <sql id="feeColumns">
         fee_id
        ,fb_user_id
        ,fee_month
    </sql>

    <!--회비 납부 o-->
    <insert id="createFee" parameterType="footBall.domain.fee.FeeDto">
        INSERT INTO fee (FB_USER_ID,FEE_MONTH)
        VALUES (#{fbUserId},#{feeMonth});
    </insert>

    <!--회비 납부 x-->
    <delete id="deleteFee" parameterType="footBall.domain.fee.FeeDto">
        DELETE FROM FEE
        WHERE FB_USER_ID = #{fbUserId}
        AND FEE_MONTH = #{feeMonth}
    </delete>

    <!--모든 회비정보 불러오기-->
    <select id="getAllUserFee" resultType="footBall.domain.fee.FeeDto">
        SELECT <include refid="feeColumns" />
        FROM FEE
    </select>

</mapper>