<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FreeBoardMapper">

    <!--자유게시판 테이블 전체 칼럼-->
    <sql id="boardColumns">
         free_board_id
        ,fb_user_id
        ,free_board_author
        ,free_board_title
        ,free_board_text
        ,free_board_reg_date
        ,free_board_mod_date
        ,free_board_img_path
        ,free_board_del_yn
    </sql>

    <!--자유게시판 전체조회-->
    <select id="findAll" resultType="footBall.freeBoard.FreeBoardResponse">
        select
            <include refid="boardColumns" />
        from
            free_board
        where 1=1
            and free_board_del_yn = 'N'
        order by
            free_board_id desc
    </select>

    <!--아이디로 게시판 조회-->
    <select id="findOne" parameterType="footBall.freeBoard.FreeBoardRequest" resultType="footBall.freeBoard.FreeBoardResponse">
        select
            <include refid="boardColumns" />
        from
            free_board
        where
            FREE_BOARD_ID = #{freeBoardId}
            and free_board_del_yn = 'N'
    </select>

    <!--게시글 작성-->
    <insert id="boardCreate" parameterType="footBall.freeBoard.FreeBoardRequest">
        INSERT INTO FREE_BOARD (
                                FB_USER_ID
                               ,FREE_BOARD_AUTHOR
                               ,FREE_BOARD_TITLE
                               ,FREE_BOARD_TEXT
                               ,FREE_BOARD_REG_DATE
                               ,FREE_BOARD_MOD_DATE
                               ,FREE_BOARD_DEL_YN)
        VALUES (
                #{fbUserId}
               ,#{freeBoardAuthor}
               ,#{freeBoardTitle}
               ,#{freeBoardText}
               ,NOW()
               ,NOW()
               ,'N');
    </insert>
    <!--글 수정-->
    <update id="boardUpdate" parameterType="footBall.freeBoard.FreeBoardRequest">
        UPDATE free_board
        SET FREE_BOARD_TITLE = #{freeBoardTitle}
           ,FREE_BOARD_TEXT = #{freeBoardText}
           ,FREE_BOARD_REG_DATE = now()
        WHERE FREE_BOARD_ID = #{freeBoardId};
    </update>

    <!--글 삭제-->
    <update id="deleteOne" parameterType="int">
        UPDATE free_board
        SET FREE_BOARD_DEL_YN = 'Y'
           ,FREE_BOARD_MOD_DATE = now()
        WHERE FREE_BOARD_ID = #{freeBoardId}
    </update>
</mapper>