<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FreeBoardMapper">

    <!--자유게시판 테이블 전체 칼럼-->
    <sql id="boardColumns">
         free_board_id
        ,fb_user_id
        ,free_board_author
        ,free_board_title
        ,free_board_text
        ,free_board_reg_date
        ,free_board_mod_date
        ,free_board_img_path
        ,free_board_del_yn
    </sql>

    <!--자유게시판 전체조회-->
    <select id="findAll" resultType="footBall.domain.freeBoard.FreeBoardResponse">
        SELECT
            <include refid="boardColumns" />
        FROM
            free_board
        WHERE 1=1
        AND free_board_del_yn = 'N'
        ORDER BY
            free_board_id DESC
    </select>

    <!--아이디로 게시판 조회-->
    <select id="findOne" parameterType="footBall.domain.freeBoard.FreeBoardRequest" resultType="footBall.domain.freeBoard.FreeBoardResponse">
        SELECT
            <include refid="boardColumns" />
        FROM
            free_board
        WHERE 1=1
        AND free_board_id = #{freeBoardId}
        AND free_board_del_yn = 'N'
    </select>

    <!--게시글 작성-->
    <insert id="boardCreate" parameterType="footBall.domain.freeBoard.FreeBoardRequest">
        INSERT INTO free_board (
                                fb_user_id
                               ,free_board_author
                               ,free_board_title
                               ,free_board_text
                               ,free_board_reg_date
                               ,free_board_mod_date
                               ,free_board_del_yn)
        VALUES (
                #{fbUserId}
               ,#{freeBoardAuthor}
               ,#{freeBoardTitle}
               ,#{freeBoardText}
               ,NOW()
               ,NOW()
               ,'N');
    </insert>
    <!--글 수정-->
    <update id="boardUpdate" parameterType="footBall.domain.freeBoard.FreeBoardRequest">
        UPDATE free_board
        SET free_board_title = #{freeBoardTitle}
           ,free_board_text = #{freeBoardText}
           ,free_board_mod_date = now()
        WHERE free_board_id = #{freeBoardId};
    </update>

    <!--글 삭제-->
    <update id="deleteOne" parameterType="int">
        UPDATE free_board
        SET free_board_del_yn = 'Y'
           ,free_board_mod_date = now()
        WHERE free_board_id = #{freeBoardId}
    </update>

    <!--내가 쓴글 조회-->
    <select id="findByUserId" parameterType="int" resultType="footBall.domain.freeBoard.FreeBoardResponse">
        SELECT
        <include refid="boardColumns" />
        FROM
        free_board
        WHERE 1=1
        AND free_board_del_yn = 'N'
        AND fb_user_id = #{fbUserId}
    </select>

    <!--검색창을 이용한 조회-->
    <select id="findKeyword" parameterType="String" resultType="footBall.domain.freeBoard.FreeBoardResponse">
        SELECT * FROM free_board
        WHERE (
            free_board_title LIKE CONCAT('%', #{freeBoardTitle}, '%')
            OR free_board_text LIKE CONCAT('%', #{freeBoardTitle}, '%')
            OR FREE_BOARD_AUTHOR LIKE CONCAT('%', #{freeBoardTitle}, '%')
        )
        AND free_board_del_yn = 'N'
        ORDER BY free_board_id DESC
    </select>

    <!--데이터 총 개수-->
    <select id="allCount" resultType="int">
        select count(*)
        from free_board
    </select>

    <select id="findPaginatedData" resultType="footBall.domain.freeBoard.FreeBoardResponse" parameterType="map">
        SELECT *
        FROM free_board
        WHERE free_board_del_yn = 'N'
        ORDER BY free_board_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

</mapper>