<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

    <!--공지사항 테이블 전체 칼럼-->
    <sql id="memberColumns">
         member_id
        ,fb_user_id
        ,member_name
        ,member_dribble_ability
        ,member_passing_ability
        ,member_defending_ability
        ,member_stamina
        ,member_finishing_ability
        ,member_ability_avg
    </sql>

    <!--멤버 권한 Y로 업데이트-->
    <update id="grantUpdate" parameterType="int">
        UPDATE fb_user
        SET FB_USER_MEMBER_YN='Y'
        WHERE FB_USER_ID=#{fbUserId}
    </update>

    <!--멤버 권한 N으로 업데이트-->
    <update id="grantDelete" parameterType="int">
        UPDATE fb_user
        SET FB_USER_MEMBER_YN='N'
        WHERE FB_USER_ID=#{fbUserId}
    </update>

    <!--멤버 데이터 생성-->
    <insert id="createMember" parameterType="int">
        INSERT INTO member(
            fb_user_id, member_name
        )
        VALUES(
            #{parsedUserId},
            (SELECT fb_user_name
            FROM fb_user
            WHERE fb_user_id = #{parsedUserId})
        )
    </insert>

    <!--멤버 데이터 삭제-->
    <delete id="deleteMember" parameterType="int">
        DELETE FROM member
        WHERE fb_user_id = #{parsedUserId}
    </delete>

    <!--멤버 전체 조회-->
    <select id="getMembers" resultType="footBall.domain.member.MemberDto">
        SELECT <include refid="memberColumns"/>
        FROM member
        ORDER BY fb_user_id
    </select>

    <!--멤버 어빌리티 및 평균 티어 적용-->
    <update id="applyAbility" parameterType="footBall.domain.member.MemberDto">
        UPDATE member
        SET member_dribble_ability = #{memberDribbleAbility},
            member_passing_ability = #{memberPassingAbility},
            member_defending_ability = #{memberDefendingAbility},
            member_stamina = #{memberStamina},
            member_finishing_ability = #{memberFinishingAbility},
            member_ability_avg = #{memberAbilityAvg}
        WHERE fb_user_id = #{fbUserId};
    </update>

    <!--userId로 멤버 조회-->
    <select id="getMemberByUserId" parameterType="footBall.domain.member.MemberDto" resultType="footBall.domain.member.MemberDto">
        SELECT <include refid="memberColumns" />
        FROM member
        WHERE fb_user_id = #{fbUserId}
    </select>
</mapper>