<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">

    <!--공지사항 테이블 전체 칼럼-->
    <sql id="boardColumns">
         notice_id
        ,fb_user_id
        ,notice_author
        ,notice_title
        ,notice_text
        ,notice_reg_date
        ,notice_mod_date
        ,notice_img_path
        ,notice_del_yn
    </sql>

    <!--공지사항 전체 조회-->
    <select id="getNotices" resultType="footBall.notice.NoticeResponse">
        SELECT <include refid="boardColumns"/>
        FROM notice
        WHERE notice_del_yn = 'N'
        ORDER BY notice_id DESC;
    </select>

    <!--공지사항 생성-->
    <insert id="createNotice" parameterType="footBall.notice.NoticeRequest" useGeneratedKeys="true" keyProperty="noticeId">
        INSERT INTO notice(
            <include refid="boardColumns"/>
        )VALUES (
             #{noticeId}
            ,#{fbUserId}
            ,#{noticeAuthor}
            ,#{noticeTitle}
            ,#{noticeText}
            ,now()
            ,null
            ,null
            ,'N'
        )
    </insert>

</mapper>