<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SbcMapper">

    <!--유저 테이블 전체 칼럼-->
    <sql id="commentColumns">
         sbc_id
        ,suggestion_board_id
        ,sbc_author
        ,sbc_text
        ,sbc_reg_date
        ,sbc_mod_date
        ,sbc_del_yn
    </sql>

    <!--게시글 답변 완료 상태로 변경-->
    <update id="updatePostSolYn" parameterType="footBall.domain.suggestionBoard.SbcRequest">
        UPDATE suggestion_board
        SET suggestion_board_sol_yn = 'Y'
        WHERE suggestion_board_id = #{suggestionBoardId}
    </update>

    <!--답변 등록-->
    <insert id="createSbc" parameterType="footBall.domain.suggestionBoard.SbcRequest">
        INSERT INTO suggestion_board_comment (
            suggestion_board_id, sbc_author, sbc_text, sbc_reg_date, sbc_del_yn
        )
        VALUES(
            #{suggestionBoardId}, #{sbcAuthor}, #{sbcText}, now(), 'N'
        );
    </insert>

    <!--특정 답변 조회-->
    <select id="getComment" parameterType="int" resultType="footBall.domain.suggestionBoard.SbcResponse">
        SELECT sbc_author, sbc_text, sbc_reg_date
        FROM suggestion_board_comment
        WHERE suggestion_board_id = #{id}
    </select>
</mapper>