<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SuggestionBoardMapper">

    <!--건의게시판 테이블 전체 칼럼-->
    <sql id="boardColumns">
        suggestion_board_id
        ,fb_user_id
        ,suggestion_board_author
        ,suggestion_board_title
        ,suggestion_board_text
        ,suggestion_board_reg_date
        ,suggestion_board_mod_date
        ,suggestion_board_img_path
        ,suggestion_board_del_yn
        ,suggestion_board_sol_yn
        ,suggestion_board_sec_yn
    </sql>

    <!--건의게시판 전체 조회-->
    <select id="findAll" resultType="footBall.suggestionBoard.SuggestionBoardResponse">
        select
            <include refid="boardColumns" />
        from
            suggestion_board
        where 1=1
        and suggestion_board_del_yn = 'N'
        order by
            suggestion_board_id desc
    </select>

    <!--건의게시판 비밀글제외 조회-->
    <select id="findExcludeSecret" resultType="footBall.suggestionBoard.SuggestionBoardResponse">
        select
            <include refid="boardColumns" />
        from
            suggestion_board
        where 1=1
        and suggestion_board_del_yn = 'N'
        and suggestion_board_sec_yn = 'N'
        order by
            suggestion_board_id desc
    </select>

    <!--게시판 생성-->
    <insert id="create" parameterType="footBall.suggestionBoard.SuggestionBoardRequest">
        <![CDATA[
        insert into suggestion_board(
            fb_user_id
            ,suggestion_board_author
            ,suggestion_board_title
            ,suggestion_board_text
            ,suggestion_board_reg_date
            ,suggestion_board_mod_date
            ,suggestion_board_img_path
            ,suggestion_board_del_yn
            ,suggestion_board_sol_yn
            ,suggestion_board_sec_yn
        )
        values(
            #{fbUserId}
            ,#{suggestionBoardAuthor}
            ,#{suggestionBoardTitle}
            ,#{suggestionBoardText}
            ,now()
            ,null
            ,null
            ,'N'
            ,'N'
            ,#{suggestionBoardSecYn}
        )
        ]]>
    </insert>

    <!--게시글 상세 조회-->
    <select id="findById" parameterType="int" resultType="footBall.suggestionBoard.SuggestionBoardResponse">
        select
            <include refid="boardColumns" />
        from
            suggestion_board
        where 1=1
        and suggestion_board_del_yn = 'N'
        and suggestion_board_id = #{id}
    </select>

    <!--내가 쓴글 조회-->
    <select id="findByUserId" parameterType="int" resultType="footBall.suggestionBoard.SuggestionBoardResponse">
        select
            <include refid="boardColumns" />
        from suggestion_board
        where 1=1
        and suggestion_board_del_yn = 'N'
        and FB_USER_ID = #{fbUserId}
    </select>

</mapper>