<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TeamBuilderMapper">

    <!--투표 테이블 전체 칼럼-->
    <sql id="voteColumns">
         vote_id
        ,vote_date
    </sql>

    <!--참석 테이블 전체 칼럼-->
    <sql id="attendColumns">
         attend_id
        ,vote_id
        ,fb_user_id
        ,attend_status
    </sql>

    <!--투표에서 참석한 인원 불러오기-->
    <select id="getAttendee" parameterType="java.time.LocalDateTime" resultType="footBall.domain.user.UserResponse">
        SELECT FU.FB_USER_ID, FU.FB_USER_NAME, M.MEMBER_ABILITY_AVG
        FROM FB_USER FU
        LEFT OUTER JOIN MEMBER M
        ON FU.FB_USER_ID = M.FB_USER_ID
        WHERE 1=1
        AND M.MEMBER_ABILITY_AVG IS NOT NULL
        AND FU.FB_USER_ID IN(
            SELECT FB_USER_ID
            FROM ATTEND
            WHERE 1=1
            AND VOTE_ID = (
                SELECT VOTE_ID
                FROM VOTE
                WHERE VOTE_DATE = #{sunday}
            )
            AND ATTEND_STATUS = 'Y'
        )
        ORDER BY FU.FB_USER_BIRTH;
    </select>

    <!--팀 생성-->
    <insert id="createTeam" parameterType="java.util.HashMap">
        INSERT INTO TEAM(vote_id, team_name)
        VALUES(
            (
                SELECT vote_id
                FROM VOTE
                WHERE vote_date = #{voteDate}
            ), #{teamName}
        )
    </insert>

    <!--팀 삭제-->
    <delete id="deleteTeam" parameterType="java.time.LocalDateTime">
        DELETE FROM TEAM
        WHERE VOTE_ID = (
            SELECT VOTE_ID
            FROM VOTE
            WHERE VOTE_DATE = #{sunday}
        )
    </delete>

    <!--팀 멤버 생성-->
    <insert id="createTeamMember" parameterType="java.util.HashMap">
        INSERT INTO TEAM_MEMBER(TEAM_ID, FB_USER_ID)
        VALUES(
            (
                SELECT TEAM_ID
                FROM TEAM
                WHERE 1=1
                AND VOTE_ID = (
                    SELECT VOTE_ID
                    FROM VOTE
                    WHERE VOTE_DATE = #{voteDate}
                )
                AND TEAM_NAME = #{teamName}
            ), #{fbUserId}
        )
    </insert>

    <!--팀 멤버 삭제-->
    <delete id="deleteTeamMember" parameterType="java.time.LocalDateTime">
        DELETE FROM TEAM_MEMBER
        WHERE TEAM_ID IN (
            SELECT TEAM_ID
            FROM TEAM
            WHERE VOTE_ID = (
                SELECT VOTE_ID
                FROM VOTE
                WHERE VOTE_DATE = #{sunday}
            )
        )
    </delete>

    <!--팀 멤버 날짜와 팀으로 조회-->
    <select id="showTeam" parameterType="java.util.HashMap" resultType="footBall.domain.user.UserResponse">
        SELECT fu.fb_user_id, fu.fb_user_name, m.member_ability_avg
        FROM FB_USER fu
        LEFT OUTER JOIN MEMBER m
        ON fu.fb_user_id = m.fb_user_id
        WHERE fu.fb_user_id IN(
            SELECT fb_user_id
            FROM TEAM_MEMBER
            WHERE team_id = (
                SELECT team_id
                FROM TEAM
                WHERE 1=1
                AND team_name = #{teamName}
                AND vote_id = (
                    SELECT vote_id
                    FROM VOTE
                    WHERE vote_date = #{voteDate}
                )
            )
        )
        ORDER BY fu.fb_user_birth;
    </select>

    <!--팀 내용 날짜로 조회-->
    <select id="getTeams" parameterType="java.time.LocalDateTime" resultType="footBall.domain.teamBuilder.TeamDto">
        SELECT *
        FROM TEAM
        WHERE VOTE_ID = (
            SELECT VOTE_ID
            FROM VOTE
            WHERE VOTE_DATE = #{sunday}
        )
    </select>

</mapper>