<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

    <!--유저 테이블 전체 칼럼-->
    <sql id="userColumns">
         fb_user_id
        ,fb_user_email
        ,fb_user_pswd
        ,fb_user_nickname
        ,fb_user_name
        ,fb_user_birth
        ,fb_user_phone
        ,fb_user_address
        ,fb_user_auth
        ,fb_user_del_yn
        ,fb_user_reg_date
        ,fb_user_mod_date
    </sql>

    <!--유저 회원가입-->
    <insert id="register" parameterType="footBall.user.UserRequest" useGeneratedKeys="true" keyProperty="fbUserId">
        insert into fb_user(
            <include refid="userColumns"/>
        )
        values(
             #{fbUserId}
            ,#{fbUserEmail}
            ,#{fbUserPswd}
            ,#{fbUserNickname}
            ,#{fbUserName}
            ,#{fbUserBirth}
            ,#{fbUserPhone}
            ,#{fbUserAddress}
            ,'N'
            ,'N'
            ,now()
            ,null
        )
    </insert>

    <!--이메일로 유저 조회-->
    <select id="getUserByEmail" parameterType="String" resultType="footBall.user.UserResponse">
        select
            <include refid="userColumns"/>
        from
            fb_user
        where 1=1
        and fb_user_email = #{email}
        and fb_user_del_yn = 'N'
    </select>

    <!--닉네임으로 유저 조회-->
    <select id="getUserByNickname" parameterType="String" resultType="footBall.user.UserResponse">
        select
            <include refid="userColumns"/>
        from
            fb_user
        where 1=1
        and fb_user_nickname = #{nickname}
        and fb_user_del_yn = 'N'
    </select>

    <!--유저 전체조회-->
    <select id="getAllUser" resultType="footBall.user.UserResponse">
        select
            <include refid="userColumns"/>
        from
            fb_user
        where
            fb_user_del_yn = 'N'
        order by
            fb_user_id desc
    </select>

    <!--닉네임 조회-->
    <select id="findNickname" parameterType="int" resultType="string">
        select FB_USER_NICKNAME
        from fb_user
        where FB_USER_ID = #{fbUserId}
    </select>

    <!--정보 조회<리스트>-->
    <select id="findOne" parameterType="Integer" resultType="footBall.user.UserResponse">
        select
            <include refid="userColumns"/>
        from fb_user
        where FB_USER_ID = #{fbUserId}
    </select>
</mapper>