<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

    <!--유저 테이블 전체 칼럼-->
    <sql id="userColumns">
         fb_user_id
        ,fb_user_email
        ,fb_user_pswd
        ,fb_user_nickname
        ,fb_user_name
        ,fb_user_birth
        ,fb_user_phone
        ,fb_user_address
        ,fb_user_auth
        ,fb_user_del_yn
        ,fb_user_reg_date
        ,fb_user_mod_date
    </sql>

    <!--유저 회원가입-->
    <insert id="register" parameterType="footBall.user.UserRequest" useGeneratedKeys="true" keyProperty="fbUserId">
        insert into fb_user(
            <include refid="userColumns"/>
        )
        value(
             #{fbUserId}
            ,#{fbUserEmail}
            ,#{fbUserPswd}
            ,#{fbUserNickname}
            ,#{fbUserName}
            ,#{fbUserBirth}
            ,#{fbUserPhone}
            ,#{fbUserAddress}
            ,0
            ,0
            ,now()
            ,null
        )
    </insert>

    <!--닉네임으로 유저 조회-->
    <select id="getUserByNickname" parameterType="String" resultType="footBall.user.UserResponse">
        select
            <include refid="userColumns"/>
        from
            fb_user
        where 1=1
        and fb_user_nickname = #{nickname}
        and fb_user_del_yn = 0
    </select>

    <!--이메일로 유저 조회-->
    <select id="getUserByEmail" parameterType="footBall.user.UserRequest" resultType="footBall.user.UserResponse">
        select
        <include refid="userColumns"/>
        from
        fb_user
        where 1=1
        and fb_user_email = #{fbUserEmail}
        and fb_user_del_yn = 0
    </select>

    <!--유저 전체조회-->
    <select id="getAllUser" resultType="footBall.user.UserResponse">
        select
            <include refid="userColumns"/>
        from
            fb_user
        where
            fb_user_del_yn = 0
        order by
            fb_user_id desc
    </select>
</mapper>