<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>회비 납부 현황</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
    </style>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-4 mb-2 d-flex align-items-center">
        <i class="fas fa-coins fa-2x me-1"></i>
        <h2 class="mb-0">회비 납부 현황</h2>
    </div>
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            2024년 회비에 대한 납부 현황입니다.
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">회원</th>
                        <th class="text-center">일괄납부</th>
                        <th class="text-center" th:each="i : ${#numbers.sequence(1, 12)}" th:text="|${i}월|"></th>
                    </tr>
                </thead>
                <tbody class="postList">
                    <!--관리자-->
                    <tr th:if="${session.userAuth} == 'Y'" th:each="post, rowStat : ${posts}">
                        <td class="text-center" th:text="${post.getFbUserName()}"></td>
                        <td class="text-center">
                            <input type="checkbox" onclick="handleBulkPayment(this)"
                                   th:attr="data-userId=${post.fbUserId}" name="bulkPayment">
                        </td>
                        <td class="text-center" th:each="i, colStat : ${#numbers.sequence(1, 12)}">
                            <input type="checkbox" th:attr="data-userId=${post.getFbUserId()},
                            data-feeMonth=${0 * 12 + colStat.index + 1}" onchange="handleCheckboxChange(this)" />
                        </td>
                    </tr>
                    <!--사용자-->
                    <tr th:if="${session.userAuth} == 'N'" th:each="post, rowStat : ${posts}">
                        <td class="text-center" th:text="${post.getFbUserName()}"></td>
                        <td class="text-center">
                            <span id="bulkPaymentSpan" class="d-none"
                                  th:attr="data-userId=${post.getFbUserId()}" th:text="${'O'}"></span>
                        </td>
                        <td class="text-center" th:each="i, colStat : ${#numbers.sequence(1, 12)}">
                            <span id="monthPaymentSpan" class="d-none"
                                  th:attr="data-userId=${post.getFbUserId()}, data-feeMonth=${0 * 12 + colStat.index + 1}" th:text="${'O'}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.onload = () => {
            fixCheckbox();
        }

        // 화면 로드 시 사용자의 회비납부여부에 따른 체크박스 고정
        function fixCheckbox(){
            let sessionId = /*[[ ${session.userId} ]]*/ null;
            let sessionAuth = /*[[ ${session.userAuth} ]]*/ null;
            if(sessionId !== null){
                $.ajax({
                    url: `/fee/check`,
                    type: 'GET',
                    dataType: 'json',
                    async: false,
                    success: function(response){
                        console.log(response);
                        response.forEach(fee => {
                            if(sessionAuth == 'Y'){ // 관리자일 경우
                                document.querySelector(`input[type='checkbox'][data-userId='${fee.fbUserId}'][data-feeMonth='${fee.feeMonth}']`).checked = true;
                                if(fee.feeAnnualPaymentYn == 'Y'){
                                    document.querySelector(`input[type='checkbox'][data-userId='${fee.fbUserId}'][name="bulkPayment"]`).checked = true;
                                    document.querySelector(`input[type='checkbox'][data-userId='${fee.fbUserId}'][data-feeMonth='${fee.feeMonth}']`).disabled = true;
                                }else {
                                    document.querySelector(`input[type='checkbox'][data-userId='${fee.fbUserId}'][name="bulkPayment"]`).checked = false;
                                    document.querySelector(`input[type='checkbox'][data-userId='${fee.fbUserId}'][data-feeMonth='${fee.feeMonth}']`).disabled = false;
                                }

                            }else if(sessionAuth == 'N'){ // 사용자일 경우
                                document.querySelector(`#monthPaymentSpan[data-userId='${fee.fbUserId}'][data-feeMonth='${fee.feeMonth}']`).classList.remove("d-none");
                                document.querySelector(`#bulkPaymentSpan[data-userId='${fee.fbUserId}']`).classList.remove("d-none");

                            }
                        })
                    },
                    error : function (request, status, error) {
                        console.log(error)
                    }
                })
            }
        }

        // 체크박스를 클릭했을 때 데이터 생성 및 삭제
        function handleCheckboxChange(checkbox) {
            var fbUserId = checkbox.getAttribute('data-userId');
            var feeMonth = checkbox.getAttribute('data-feeMonth');
            var isChecked = checkbox.checked;
            // 일괄 납부 체크 여부 확인
            var row = checkbox.parentNode.parentNode; // 일괄납부 체크박스가 포함된 행
            var bulkPaymentCheckbox = row.querySelector('input[name="bulkPayment"]');
            // 일괄 납부 체크 여부에 따른 값 넣기
            var feeAnnualPaymentYn = (bulkPaymentCheckbox.checked) ? 'Y' : 'N' ;


            // Ajax를 사용하여 서버로 데이터 전송
            $.ajax({
                type: 'POST',
                url: '/fee/check', // 여기에 컨트롤러의 엔드포인트 주소를 적어주세요
                contentType: 'application/json',
                data: JSON.stringify({
                    fbUserId: fbUserId,
                    feeMonth: feeMonth,
                    feeAnnualPaymentYn: feeAnnualPaymentYn,
                    isChecked: isChecked
                }),
                success: function(response) {
                    console.log('Data sent successfully:', response);
                },
                error: function(error) {
                    console.error('Error sending data:', error);
                }
            });
        }

        // 일괄납부 체크박스 클릭 시 해당 행의 모든 월별 체크박스 선택/해제
        function handleBulkPayment(checkbox) {
            var isChecked = checkbox.checked;
            var row = checkbox.parentNode.parentNode; // 일괄납부 체크박스가 포함된 행
            var monthCheckboxes = row.querySelectorAll('input[type="checkbox"][data-feeMonth]');

            // 월별 체크박스 전체 선택 또는 해제
            monthCheckboxes.forEach(function(monthCheckbox) {
                monthCheckbox.checked = isChecked;
                // 일괄 납부가 체크되어 있으면 월별 체크박스 disabled
                if(isChecked){
                    monthCheckbox.disabled = true;
                }else {
                    monthCheckbox.disabled = false;
                }
                console.log(monthCheckbox.readOnly);
                handleCheckboxChange(monthCheckbox); // 변경된 상태를 서버로 전송
            });
        }
    </script>
</th:block>
</html>
