<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>회비현황</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
    </style>
</th:block>

<th:block layout:fragment="content">
    <h1 class="mt-4">회비 납부 현황</h1>
    <div class="right" style="text-align: right">
    </div>
    <ol class="breadcrumb mb-4">

    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            회비현황
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>회원</th>
                        <th th:each="i : ${#numbers.sequence(1, 12)}" th:text="|${i}월|"></th>
                    </tr>
                </thead>
                <tbody class="postList">
                    <tr th:if="${session.userAuth} == 'Y'" th:each="post, rowStat : ${posts}">
                        <td th:text="${post.getFbUserName()}"></td>
                        <td th:each="i, colStat : ${#numbers.sequence(1, 12)}">
                            <input type="checkbox" th:attr="data-userId=${post.getFbUserId()},
                            data-feeMonth=${0 * 12 + colStat.index + 1}" onchange="handleCheckboxChange(this)" />
                        </td>
                    </tr>
                    <tr th:if="${session.userAuth} == 'N'" th:each="post, rowStat : ${posts}">
                        <td th:text="${post.getFbUserName()}"></td>
                        <td th:each="i, colStat : ${#numbers.sequence(1, 12)}">
                            <!-- 출력 상자를 표시하는 경우 -->
                            <span id="feeSpan" class="d-none" th:if="${session.userAuth} == 'N'"
                                  th:attr="data-userId=${post.getFbUserId()}, data-feeMonth=${0 * 12 + colStat.index + 1}" th:text="${'O'}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.onload = () => {
            fixCheckbox();
        }

        // 화면 로드 시 사용자의 회비납부여부에 따른 체크박스 고정
        function fixCheckbox(){
            let sessionId = /*[[ ${session.userId} ]]*/ null;
            let sessionAuth = /*[[ ${session.userAuth} ]]*/ null;
            if(sessionId !== null){
                console.log(`sessionId는 ${sessionId}입니다`);
                $.ajax({
                    url: `/fee/check`,
                    type: 'GET',
                    dataType: 'json',
                    async: false,
                    success: function(response){
                        console.log(response);
                        response.forEach(fee => {
                            if(sessionAuth == 'Y'){
                                document.querySelector(`input[type='checkbox'][data-userId='${fee.fbUserId}'][data-feeMonth='${fee.feeMonth}']`).checked = true;
                            }else if(sessionAuth == 'N'){
                                document.querySelector(`#feeSpan[data-userId='${fee.fbUserId}'][data-feeMonth='${fee.feeMonth}']`).classList.remove("d-none");
                            }
                        })
                    },
                    error : function (request, status, error) {
                        console.log(error)
                    }
                })
            }
        }

        // 체크박스를 클릭했을 때 데이터 생성 및 삭제
        function handleCheckboxChange(checkbox) {
            var fbUserId = checkbox.getAttribute('data-userId');
            var feeMonth = checkbox.getAttribute('data-feeMonth');
            var isChecked = checkbox.checked;

            // Ajax를 사용하여 서버로 데이터 전송
            $.ajax({
                type: 'POST',
                url: '/fee/check', // 여기에 컨트롤러의 엔드포인트 주소를 적어주세요
                contentType: 'application/json',
                data: JSON.stringify({
                    fbUserId: fbUserId,
                    feeMonth: feeMonth,
                    isChecked: isChecked
                }),
                success: function(response) {
                    console.log('Data sent successfully:', response);
                },
                error: function(error) {
                    console.error('Error sending data:', error);
                }
            });
        }
    </script>
</th:block>

</html>
