<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>공지사항</title>
</th:block>

<th:block layout:fragment="content">
    <!-- 제목 -->
    <div class="mt-4 mb-2 d-flex align-items-center">
        <i class="fas fa-bullhorn me-1 fa-2x me-1"></i>
        <h2 class="mb-0">공지사항</h2>
    </div>
    <!-- 버튼 -->
    <div class="text-end" th:if="${session.userAuth == 'Y'}">
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="openModal()">
            글 작성
        </button>
    </div>
    <!-- 검색 입력란과 버튼 -->
    <form id="searchForm" action="/freeBoard/search" method="get">
        <div class="input-group mb-3 mt-3" style="display: flex; justify-content: flex-end;">
            <input type="text" class="form-control me-1" placeholder="검색어를 입력하세요" name="freeBoardTitle" style="max-width: 200px;">
            <span class="input-group-btn">
                <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </span>
        </div>
    </form>

    <!-- 테이블 -->
    <div>
        <div style="height: 450px;">
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 15%;">글작성자</th>
                    <th style="width: 15%;">글제목</th>
                    <th style="width: 50%;">글내용</th>
                    <th style="width: 20%;">작성일자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notice : ${notices}">
                    <td th:text="${notice.noticeAuthor}"></td>
                    <td>
<!--                        <a th:href="@{'/freeBoard/details/' + ${post.freeBoardId}}">-->
                            <span th:text="${notice.noticeTitle}"></span>
                        </a>
                    </td>
                    <td th:text="${notice.noticeText}"></td>
                    <td th:text="${#temporals.format(notice.noticeRegDate, 'yyyy-MM-dd HH시 mm분')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 페이징 표시 -->
        <div id="pagination" style="display: flex; justify-content: center; margin-top: 20px;">
            <!-- 페이지 번호가 동적으로 생성될 위치 -->
        </div>
    </div>
</th:block>

<th:block layout:fragment="modal">
    <!-- 글 작성 팝업 모달 -->
    <div class="modal fade" id="writePostModal" tabindex="-1" role="dialog" aria-labelledby="writePostModalLabel" aria-hidden="true" th:fragment="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="writePostModalLabel">공지사항 작성</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 글 작성 폼 -->
                    <form id="postForm">
                        <label for="noticeTitle">제목</label>
                        <input id="noticeTitle" name="noticeTitle" class="form-control">
                        <label for="noticeText">내용</label>
                        <textarea id="noticeText" name="noticeText" rows="8" class="form-control"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="submitPostForm()">작성 완료</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        const userId = /*[[${session.userId}]]*/ null; // 세션의 userId 값을 가져옴

        $(document).ready(function() {
            $('#searchForm').submit(function(event) {
                // 폼 제출 기본 동작 방지
                event.preventDefault();

                // 폼 데이터 직렬화
                var formData = $(this).serialize();

                // AJAX 요청 보내기
                $.ajax({
                    type: 'GET',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function(response) {
                        // 성공적으로 검색 결과를 받았을 때 실행할 코드 작성
                        console.log('검색 결과:', response);

                        // 테이블 초기화
                        $('.table tbody').empty();

                        // 검색 결과를 테이블에 추가
                        $.each(response, function(index, post) {
                            var date = new Date(post.freeBoardRegDate);
                            var formattedDate = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2) + ' ' + ('0' + date.getHours()).slice(-2) + '시 ' + ('0' + date.getMinutes()).slice(-2) + '분';
                            var newRow = $('<tr>');
                            newRow.append('<td>' + post.freeBoardAuthor + '</td>');
                            newRow.append('<td><a href="/freeBoard/details/' + post.freeBoardId + '">' + post.freeBoardTitle + '</a></td>');
                            newRow.append('<td>' + post.freeBoardText + '</td>');
                            newRow.append('<td>' + formattedDate + '</td>');
                            $('.table tbody').append(newRow);
                        });
                    },
                    error: function(xhr, status, error) {
                        // 오류가 발생했을 때 실행할 코드 작성
                        console.error('검색 오류:', error);
                    }
                });
            });
        });

        function openModal() {
            // 세션의 userId 값이 null이면 알림 창 띄우기, 그렇지 않으면 모달 열기
            if (userId === null) {
                alert('로그인이 필요합니다!');
            } else {
                $('#writePostModal').modal('show');
            }
        }

        function closeModal() {
            $('#writePostModal').modal('hide');
        }

        <!-- 글 작성 완료 시 실행되는 스크립트 -->
        function submitPostForm() {
            let noticeTitle = document.getElementById('noticeTitle').value;
            let noticeText = document.getElementById('noticeText').value;

            if(noticeTitle == "" || noticeTitle == null){
                alert("제목을 입력해주세요");
                return;
            }
            if(noticeText == "" || noticeText == null){
                alert("내용을 입력해주세요");
                return;
            }

            // 글 작성 완료 후 서버로 데이터 전송
            $.ajax({
                type: 'POST',
                url: '/notice',
                data: {noticeTitle: noticeTitle
                      ,noticeText: noticeText},
                success: function () {
                    // 작성 완료 후 팝업 닫기
                    $('#writePostModal').modal('hide');
                    // 메인 화면 새로고침
                    location.reload();
                },
                error: function () {
                    alert('글 작성 실패');
                }
            });
        }

        // 클라이언트 측에서 페이지 번호를 생성하는 함수
        function generatePagination(currentPage, totalPages) {
            var pagination = document.getElementById('pagination');
            pagination.innerHTML = ''; // 기존의 페이지 번호를 비움

            // 현재 페이지가 속한 그룹의 시작 페이지 계산
            var startPage = Math.floor((currentPage - 1) / 5) * 5 + 1;
            // 그룹의 마지막 페이지 계산
            var endPage = Math.min(startPage + 4, totalPages);

            // 이전 버튼 추가
            if (currentPage > 1) {
                var prevButton = document.createElement('button');
                prevButton.textContent = '이전';
                prevButton.classList.add('btn', 'btn-outline-secondary', 'mx-1', 'rounded-circle');
                prevButton.onclick = function() {
                    window.location.href = '/freeBoard?page=' + (currentPage - 1);
                };
                pagination.appendChild(prevButton);
            }

            // 페이지 번호 버튼 추가
            for (var i = startPage; i <= endPage; i++) {
                var button = document.createElement('button');
                button.textContent = i;
                button.classList.add('btn', 'btn-outline-secondary', 'mx-1', 'rounded-circle');
                if (i === currentPage) {
                    button.classList.add('active');
                }
                button.onclick = function() {
                    window.location.href = '/freeBoard?page=' + this.textContent;
                };
                pagination.appendChild(button);
            }

            // 다음 버튼 추가
            if (currentPage < totalPages) {
                var nextButton = document.createElement('button');
                nextButton.textContent = '다음';
                nextButton.classList.add('btn', 'btn-outline-secondary', 'mx-1', 'rounded-circle');
                nextButton.onclick = function() {
                    window.location.href = '/freeBoard?page=' + (currentPage + 1);
                };
                pagination.appendChild(nextButton);
            }
        }


        // 페이지 로드 시 페이지 번호를 생성
        window.onload = function() {

        };
    </script>
</th:block>

</html>
