<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>멤버 능력치 설정</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/memberStyles.css}">
</th:block>

<th:block layout:fragment="content">
    <div>
        <div class="mt-4 mb-2 d-flex align-items-center">
            <i class="fas fa-users fa-2x me-1"></i>
            <h2 class="mb-0">멤버 능력치 설정</h2>
        </div>
    </div>
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            멤버별 해당 능력의 티어를 선택하고 적용버튼을 눌러주세요.<br/>
            해당 능력이 높은 순서대로 1~3을 선택 후 적용을 눌러주시면 평균 티어가 계산됩니다. <br/> (ex: 잘하면 1, 못하면 3)
        </div>
        <div class="card-body">
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 12.5%;">이름</th>
                        <th style="width: 12.5%;">드리블</th>
                        <th style="width: 12.5%;">패스</th>
                        <th style="width: 12.5%;">수비</th>
                        <th style="width: 12.5%;">체력</th>
                        <th style="width: 12.5%;">골결정력</th>
                        <th style="width: 12.5%;"></th>
                        <th style="width: 12.5%;">평균티어</th>
                    </tr>
                    </thead>
                    <tbody class="memberList">
                    <tr th:if="${session.userAuth} == 'Y'" th:each="member, rowStat : ${members}">
                        <td th:text="${member.memberName}"></td>
                        <td>
                            <select class="form-control select-ability" name="memberDribbleAbility">
                                <option value="" th:selected="${member.memberDribbleAbility == null}">-</option>
                                <option value="1" th:selected="${member.memberDribbleAbility == 1}">1</option>
                                <option value="2" th:selected="${member.memberDribbleAbility == 2}">2</option>
                                <option value="3" th:selected="${member.memberDribbleAbility == 3}">3</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control select-ability" name="memberPassingAbility">
                                <option value="" th:selected="${member.memberPassingAbility == null}">-</option>
                                <option value="1" th:selected="${member.memberPassingAbility == 1}">1</option>
                                <option value="2" th:selected="${member.memberPassingAbility == 2}">2</option>
                                <option value="3" th:selected="${member.memberPassingAbility == 3}">3</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control select-ability" name="memberDefendingAbility">
                                <option value="" th:selected="${member.memberDefendingAbility == null}">-</option>
                                <option value="1" th:selected="${member.memberDefendingAbility == 1}">1</option>
                                <option value="2" th:selected="${member.memberDefendingAbility == 2}">2</option>
                                <option value="3" th:selected="${member.memberDefendingAbility == 3}">3</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control select-ability" name="memberStamina">
                                <option value="" th:selected="${member.memberStamina == null}">-</option>
                                <option value="1" th:selected="${member.memberStamina == 1}">1</option>
                                <option value="2" th:selected="${member.memberStamina == 2}">2</option>
                                <option value="3" th:selected="${member.memberStamina == 3}">3</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control select-ability" name="memberFinishingAbility">
                                <option value="" th:selected="${member.memberFinishingAbility == null}">-</option>
                                <option value="1" th:selected="${member.memberFinishingAbility == 1}">1</option>
                                <option value="2" th:selected="${member.memberFinishingAbility == 2}">2</option>
                                <option value="3" th:selected="${member.memberFinishingAbility == 3}">3</option>
                            </select>
                        </td>
                        <td>
                            <input type="button" class="btn btn-primary applyBtn" value="적용" th:attr="data-userId=${member.fbUserId}"/>
                        </td>
                        <td th:text="${member.memberAbilityAvg}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        // 적용 버튼 클릭 시
        document.querySelectorAll(".applyBtn").forEach(function(button) {
            button.addEventListener("click", function() {
                // 클릭한 버튼이 속한 행 찾기
                let row = this.closest("tr");
                // value 가져옴
                let dribbleAbility = row.querySelector("select[name='memberDribbleAbility']").value;
                let passingAbility = row.querySelector("select[name='memberPassingAbility']").value;
                let defendingAbility = row.querySelector("select[name='memberDefendingAbility']").value;
                let stamina = row.querySelector("select[name='memberStamina']").value;
                let finishingAbility = row.querySelector("select[name='memberFinishingAbility']").value;
                let userId = this.getAttribute("data-userId");

                // 선택 값 배열에 넣기
                let abilityArray = [dribbleAbility, passingAbility, defendingAbility, stamina, finishingAbility];
                let abilityNameArray = ['드리블', '패스', '수비', '체력', '골결정력'];


                // 선택 값이 없을 경우
                for(let i = 0; i < abilityArray.length; i++){
                    if(!abilityArray[i]){
                        alert(abilityNameArray[i] + "의 티어를 설정해주세요!");
                        return;
                    }
                }

                // 서버에 데이터 전송
                $.ajax({
                    type: 'POST',
                    url: '/member/abilitySetup',
                    contentType: 'application/json',
                    async : false,
                    data: JSON.stringify({
                        fbUserId: userId,
                        memberDribbleAbility: dribbleAbility,
                        memberPassingAbility: passingAbility,
                        memberDefendingAbility: defendingAbility,
                        memberStamina: stamina,
                        memberFinishingAbility: finishingAbility
                    }),
                    success: function(response) {
                        alert('정상적으로 적용되었습니다!');
                        location.reload();
                    },
                    error: function () {
                        alert('적용에 실패했습니다.');
                    }
                });



            });
        });

    </script>
</th:block>

</html>
