<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>멤버 승인</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/memberStyles.css}">
    <style>
    </style>
</th:block>

<th:block layout:fragment="content">
    <div>
        <div class="mt-4 mb-2 d-flex align-items-center">
            <i class="fas fa-users fa-2x me-1"></i>
            <h2 class="mb-0">멤버 승인</h2>
        </div>
    </div>
    <div class="button-group mt-4">
        <a th:href="@{/member/authority}" class="btn btn-primary">
            전체회원 보기
        </a>
        <button type="button" class="btn btn-primary" onclick="showMembersOnly()">
            멤버만 보기
        </button>
        <button type="button" class="btn btn-primary" onclick="showGest()">
            승인대기 인원
        </button>
    </div>
    <!-- 검색 입력란과 버튼 -->
    <form id="searchForm" action="/member/authority" method="get">
        <div class="input-group mb-3 mt-3" style="display: flex; justify-content: flex-end;">
            <input type="text" class="form-control me-1" placeholder="검색어를 입력하세요" name="keyword"
                   id="searchInput" style="max-width: 200px;">
            <span class="input-group-btn">
                <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </span>
        </div>
    </form>
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            멤버를 승인하실 경우 체크박스를 체크해 주세요.
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>회원 이름</th>
                        <th>회원 닉네임</th>
                        <th>멤버 구분</th>
                    </tr>
                </thead>
                <tbody class="postList">
                <tr th:if="${session.userAuth} == 'Y'" th:each="post, rowStat : ${posts}">
                    <td th:text="${post.fbUserName}"></td>
                    <td th:text="${post.fbUserNickname}"></td>
                    <td>
                        <input type="checkbox" class="userCheckbox" th:attr="data-userId=${post.getFbUserId()}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function() {
            // 서버에서 받은 데이터를 사용하여 체크박스를 설정
            $.ajax({
                url: '/member/authority/check',
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    response.forEach(item => {
                        if (item.fbUserMemberYn === 'Y') {
                            // 해당 사용자의 체크박스를 체크
                            $('input[type="checkbox"][data-userId="' + item.fbUserId + '"]').prop('checked', true);
                        }
                    });
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });

        $('.userCheckbox').change(function() {
            var fbUserId = $(this).attr('data-userId');
            var isChecked = $(this).is(':checked');

            // AJAX 요청
            $.ajax({
                type: 'POST',
                url: '/member/authority/grant',
                data: {
                    fbUserId: fbUserId,
                    isChecked: isChecked
                },
                success: function(response) {
                    // 요청이 성공했을 때 실행할 작업
                    console.log('권한 부여 성공');
                },
                error: function(xhr, status, error) {
                    // 요청이 실패했을 때 실행할 작업
                    console.error('권한 부여 실패:', error);
                }
            });
        });
        function showMembersOnly() {
            // URL에 파라미터 추가
            var newUrl = '/member/authority?membersOnly=true';
            // 새로운 URL로 이동
            window.location.href = newUrl;
        }

        function showGest() {
            // URL에 파라미터 추가
            var newUrl = '/member/authority?membersOnly=false';
            // 새로운 URL로 이동
            window.location.href = newUrl;
        }
    </script>
</th:block>

</html>
