<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>지나간 참석자 명단</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
    </style>
</th:block>

<th:block layout:fragment="content">
    <h1 class="mt-4">지나간 참석자 명단</h1>
    <div class="right" style="text-align: right">
    </div>
    <ol class="breadcrumb mb-4">

    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            지나간 참석자 보기
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>참석자 명단 보기(날짜 클릭)</th>
                        <th>팀 보기</th>
                    </tr>
                </thead>
                <tbody class="postList">
                    <tr th:each="vote : ${votes}">
                        <td>
                            <a th:href="@{/previousAttendee}">
                                <span th:text="${#temporals.format(vote.voteDate, 'yyyy-MM-dd')}"></span>
                            </a>
                        </td>
                        <td th:text="구상중"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>

</html>
