<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>지나간 참석자 명단</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/previousAttendeeStyles.css}">
</th:block>

<th:block layout:fragment="content">
    <div class="mt-4 mb-2 d-flex align-items-center">
        <i class="fas fa-futbol fa-2x me-1"></i>
        <h2 class="mb-0">지나간 참석자 명단 및 팀 보기</h2>
    </div>
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            지나간 참석자 명단과 팀을 보려면 해당 날짜의 링크를 클릭해주세요!
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>날짜</th>
                        <th>지나간 참석자 명단 보기</th>
                        <th>팀 보기</th>
                    </tr>
                </thead>
                <tbody class="postList">
                    <tr th:each="vote : ${votes}">
                        <td><strong th:text="${#temporals.format(vote.voteDate,'yyyy-MM-dd')}"></strong></td>
                        <td>
                            <a th:href="@{'/previousAttendee/'+${vote.voteId}}">
                                <span>참석자 명단</span>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'/previousAttendee/'+${vote.voteId}+'/teams'}">
                                <span>팀 구성</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>

</html>
