<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>금주의 참석인원</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
    </style>

</th:block>

<th:block layout:fragment="content">
    <div class="mt-4 mb-2 d-flex align-items-center">
        <i class="fas fa-futbol fa-2x me-1"></i>
        <h2 class="mb-0">금주의 참석인원</h2>
    </div>
    <div class="card mb-4 mt-4" style="width: 700px;">
        <div class="card-header">
            <i class="fas fa-vote-yea me-1"></i>
            참석인원 투표
        </div>
        <div class="card-body">
            <ol class="list-group">
                <div class="ms-2 align-items-center d-none" th:if="${session.userAuth == 'Y'}" id="vDelete">
                    <input type="button" class="btn btn-danger" style="float: right;" value="금주 투표삭제" onclick="voteDelete();"/>
                </div>
                <div class="ms-2 align-items-center" th:if="${session.userAuth == 'Y'}" id="vStart">
                    <input type="button" class="btn btn-primary" style="float: right;" value="금주 투표시작" onclick="voteStart();"/>
                </div>
                <div class="fw-bold ms-2 me-auto my-2 d-flex align-items-center" id="vDate">투표가 존재하지 않습니다!</div>
                <div class="d-none" id="voteBox">
                    <li class="list-group-item justify-content-between align-items-start">
                        <div class="ms-2 me-auto d-flex align-items-center">
                            <input type="radio" name="attendance" id="attendBtn" value="Y">
                            <span class="fw-bold ms-2">참석</span>
                        </div>
                        <div class="ms-2 me-auto d-flex align-items-center" id="attend">
                            Content for list item
                        </div>
                    </li>
                    <li class="list-group-item justify-content-between align-items-start">
                        <div class="ms-2 me-auto d-flex align-items-center">
                            <input type="radio" name="attendance" id="nonAttendBtn" value="N">
                            <span class="fw-bold ms-2">불참</span>
                        </div>
                        <div class="ms-2 me-auto d-flex align-items-center" id="nonAttend">
                            Content for list item
                        </div>
                    </li>
                    <li class="list-group-item justify-content-between align-items-start">
                        <div class="ms-2 me-auto d-flex align-items-center">
                            <input type="radio" name="attendance" id="pendingBtn" value="P">
                            <span class="fw-bold ms-2">미정</span>
                        </div>
                        <div class="ms-2 me-auto d-flex align-items-center" id="pending">
                            Content for list item
                        </div>
                    </li>
                    <li class="list-group-item justify-content-between align-items-start">
                        <div class="ms-2 me-auto d-flex align-items-center">
                            <span class="fw-bold">미참여</span>
                        </div>
                        <div class="ms-2 me-auto d-flex align-items-center" id="nonPart">

                        </div>
                    </li>
                </div>
            </ol>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.onload = () => {
            let sessionAuth = [[ ${session.userAuth} ]];
            let sunday = getSunday();
            lenderVoted();
            lenderNonpart();
            lenderVoteButton(sunday, sessionAuth);
            fixRadioBtn();
        }

        // 화면 로드 시 사용자의 참석여부에 따른 라디오버튼 고정
        function fixRadioBtn(){
            let sessionId = /*[[ ${session.userId} ]]*/ null;
            if(sessionId !== null){
                console.log(`sessionId는 ${sessionId}입니다`);
                $.ajax({
                    url: `/weeklyAttendee/getAttendStatus/${sessionId}`,
                    type: 'GET',
                    async: false,
                    success: function(response){
                        console.log(response);
                        if(response == 'Y'){
                            document.querySelector('#attendBtn').checked = true;
                        }else if(response == 'N'){
                            document.querySelector('#nonAttendBtn').checked = true;
                        }else if(response == 'P'){
                            document.querySelector('#pendingBtn').checked = true;
                        }
                    },
                    error : function (request, status, error) {
                        console.log(error)
                    }
                })
            }
        }

        // 투표한 인원 렌더링
        function lenderVoted(){
            $.ajax({
                url: '/weeklyAttendee/findVotedUser',
                type: 'GET',
                dataType: 'json',
                async: false,
                success : function (response) {
                    // 화면단에 담을 변수 초기화
                    let attended = '';
                    let nonAttended = '';
                    let pended = '';
                    // 변수에 담기
                    response.forEach(votedUser => {
                        if(votedUser.attendStatus == 'Y'){
                            attended += votedUser.fbUserName + ', ';
                        }else if(votedUser.attendStatus == 'N'){
                            nonAttended += votedUser.fbUserName + ', ';
                        }else if(votedUser.attendStatus == 'P'){
                            pended += votedUser.fbUserName + ', ';
                        }
                    })
                    // 끝자리 ',' 없애기
                    attended = attended.replace(/,\s*$/, '');
                    nonAttended = nonAttended.replace(/,\s*$/, '');
                    pended = pended.replace(/,\s*$/, '');
                    // 화면에 렌더링
                    document.querySelector('#attend').innerHTML = attended;
                    document.querySelector('#nonAttend').innerHTML = nonAttended;
                    document.querySelector('#pending').innerHTML = pended;
                },
                error : function (request, status, error) {
                    console.log(error)
                }
            })
        }

        // 미참여인원 렌더링
        function lenderNonpart(){
            $.ajax({
                url: '/weeklyAttendee/findNonattendanceUser',
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function(response){
                    // 화면에 담을 변수 초기화
                    let nonUser = '';
                    // 변수에 담기
                    response.forEach(user => {
                        nonUser += user.fbUserName + ', ';
                    })
                    // 끝자리 ',' 없애기
                    nonUser = nonUser.replace(/,\s*$/, '');
                    // 화면에 렌더링
                    document.getElementById('nonPart').innerHTML = nonUser;
                }
            })

        }

        // 화면 로드 시 투표 대상 데이터여부에 따른 시작,삭제버튼 렌더링
        function lenderVoteButton(sunday, sessionAuth){
            $.ajax({
                url : `/weeklyAttendee/voteDate`,
                type : 'GET',
                async : false,
                success : function(response){
                    console.log(`성공적으로 투표대상날짜 존재 판별 - 서버 응답: ${response}`);
                    if(response == 'existent'){
                        lenderVoteDate(sunday);
                        if(sessionAuth == 'Y'){
                            // 시작버튼 안보이게 - 삭제버튼 보이게
                            document.querySelector('#vStart').classList.add('d-none');
                            document.querySelector('#vDelete').classList.remove('d-none');
                        }
                        // 투표박스 보이게
                        document.querySelector('#voteBox').classList.remove('d-none');
                    } else {
                        if(sessionAuth == 'Y'){
                            // 삭제버튼 안보이게 - 시작버튼 보이게
                            document.querySelector('#vStart').classList.remove('d-none');
                            document.querySelector('#vDelete').classList.add('d-none');
                        }
                    }
                },
                error : function(request, status, error){
                    console.log(error);
                }
            })
        }

        // 돌아오는주 일요일 정보 가져오기
        function getSunday() {
            // 날짜 가져오기
            let today = new Date();
            // 요일 가져오기 (일:0, 월:1, ..., 토:6)
            let currentDay = today.getDay();
            // 일요일 정보 가져오기
            let sunday = 0;
            if(currentDay === 0){
                sunday = today;
            } else {
                sunday = new Date(today);
                sunday.setDate(today.getDate() + (7 - currentDay));
            }
            // 시분초 0으로 설정
            sunday.setHours(9,0,0,0);
            return sunday;
        }

        // 정기모임 날짜 투표생성/삭제버튼 밑에 렌더링
        function lenderVoteDate(sunday){
            let sundayMonth = sunday.getMonth() + 1; // 월요일은 1 더해줘야 해당월로 지정됨
            let sundayDate = sunday.getDate();
            let voteDate = document.querySelector('#vDate');
            voteDate.innerHTML = `
                ${sundayMonth}/${sundayDate}(일) 정기모임
            `;
        }

        // 투표시작 버튼 클릭 시
        function voteStart(){
            // 시작버튼 안보이게 - 삭제버튼 보이게 - 투표날짜 보이게
            document.querySelector('#vStart').classList.add('d-none');
            document.querySelector('#vDelete').classList.remove('d-none');

            // 일요일정보 가져오기
            let sunday = getSunday();

            // 투표생성/삭제버튼 밑에 정기모임 날짜 렌더링
            lenderVoteDate(sunday);

            // 투표박스 보이게
            document.querySelector('#voteBox').classList.remove('d-none');

            // 투표 대상 날짜 데이터 생성
            createVoteDate(sunday);

            // 투표 인원 렌더링 및 체크박스 초기화
            lenderVoted();
            lenderNonpart();
            document.querySelector('input[name="attendance"]').checked = false;
        }

        // 투표 대상 날짜 데이터 생성
        function createVoteDate(sunday){
            console.log(sunday);
            sunday = sunday.toISOString();

            $.ajax({
                url : `/weeklyAttendee/voteDate`,
                type : 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ voteDate: sunday }),
                async : false,
                success : function(response){
                    console.log('성공적으로 투표대상날짜 생성');
                    console.log(`서버 응답: ${response}`);
                },
                error : function(request, status, error){
                    console.log(error);
                }
            })
        }

        // 투표삭제 버튼 클릭 시
        function voteDelete(){
            // 삭제버튼 안보이게 - 시작버튼 보이게 - 투표날짜 안보이게
            document.querySelector('#vStart').classList.remove('d-none');
            document.querySelector('#vDelete').classList.add('d-none');

            // 일요일정보 가져오기
            let sunday = getSunday();

            // 투표 미존재문구 렌더링
            let vDate = document.querySelector('#vDate');
            vDate.innerHTML = `투표가 존재하지 않습니다!`;

            // 투표박스 안보이게
            document.querySelector('#voteBox').classList.add('d-none');

            // 투표 대상 날짜 데이터 삭제
            deleteVoteDate(sunday);
        }

        // 투표 대상 날짜 데이터 삭제
        function deleteVoteDate(sunday){
            console.log(sunday);
            sunday = sunday.toISOString();

            $.ajax({
                url : `/weeklyAttendee/voteDate`,
                type : 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify({ voteDate: sunday }),
                async : false,
                success : function(response){
                    console.log(`서버 응답: ${response}`);
                },
                error : function(request, status, error){
                    console.log(error);
                }
            })
        }

        // 라디오버튼 클릭 시 이벤트
        let previousValue = null;
        document.querySelectorAll('input[name="attendance"]').forEach(function(radio) {
            radio.addEventListener('click', function() {
                // 세션id 가져오기
                let sessionId = [[ ${{session.userId}} ]];

                // 로그인을 미수행 시 멈춤
                if(sessionId == null || sessionId == ''){
                    alert('로그인을 해주세요!');
                    this.checked = false;
                    return;
                }

                // 투표자의 fbUserId 가져오기
                let votedUserIdList = [];
                $.ajax({
                    url: '/weeklyAttendee/findVotedUser',
                    type: 'GET',
                    dataType: 'json',
                    async: false,
                    success : function (response) {
                        // 변수에 담기
                        response.forEach(votedUser => {
                            votedUserIdList.push(votedUser.fbUserId);
                        })
                    },
                    error : function (request, status, error) {
                        console.log(error)
                    }
                })
                console.log(votedUserIdList);

                // 로그인된 세션의 id가 투표한 인원의 id에 포함되어 있는지 확인(1이면 포함)
                let votedUserExVal = 0;
                for(var i = 0; i < votedUserIdList.length; i++){
                    if (sessionId == votedUserIdList[i]){
                        votedUserExVal++;
                    }
                }

                // 라디오버튼 선택된 값
                let selectedValue = this.value;
                console.log("선택된 체크박스 값은 : " + selectedValue);

                // votedUserExVal에 따라서 insert update 구분
                let urlString = ''; // url 초기화
                if(votedUserExVal > 0){ // 값 변경
                    urlString = 'updateVote';
                }else { // 값 넣기
                    urlString = 'createVote';
                }

                // 참석 여부에 따른 방식으로 비동기통신
                $.ajax({
                    url: `/weeklyAttendee/${urlString}`,
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(
                        { fbUserId: sessionId,
                          attendStatus: selectedValue }
                    ),
                    async : false,
                    success: function(response) {
                        console.log(response);
                        lenderVoted();
                        lenderNonpart();
                        if(urlString == 'createVote'){
                            votedUserIdList.push(sessionId);
                        }
                    },
                    error : function(request, status, error){
                        console.log(error);
                    }
                })

                // 라디오버튼의 선택한 값이 전의 값과 같지 않으면 해당 값 넣어주기
                if(selectedValue != previousValue){
                    previousValue = selectedValue;
                }
                console.log("previousValue의 값은 : " + previousValue);
            });
        });
    </script>
</th:block>

</html>
