<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>금주의 참석인원</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
    </style>

</th:block>

<th:block layout:fragment="content">
    <h1 class="mt-4">금주의 참석인원</h1>
    <ol class="breadcrumb mb-4"></ol>
    <div class="card mb-4" style="width: 700px;">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            참석인원 투표
        </div>
        <div class="card-body">
            <ol class="list-group">
                <div class="ms-2 align-items-center d-none" th:if="${session.userAuth == 'Y'}" id="vDelete">
                    <input type="button" class="btn btn-danger" style="float: right;" value="금주 투표삭제" onclick="voteDelete();"/>
                </div>
                <div class="ms-2 align-items-center" th:if="${session.userAuth == 'Y'}" id="vStart">
                    <input type="button" class="btn btn-primary" style="float: right;" value="금주 투표시작" onclick="voteStart();"/>
                </div>
                <div class="fw-bold ms-2 me-auto d-flex align-items-center d-none" id="vDate">
                    안녕하세요!
                </div>
                <li class="list-group-item justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex align-items-center">
                        <input type="checkbox">
                        <div class="fw-bold ms-2">참석</div>
                    </div>
                    <div class="ms-2 me-auto d-flex align-items-center">
                        Content for list item
                    </div>
                </li>
                <li class="list-group-item justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex align-items-center">
                        <input type="checkbox">
                        <div class="fw-bold ms-2">불참</div>
                    </div>
                    <div class="ms-2 me-auto d-flex align-items-center">
                        Content for list item
                    </div>
                </li>
                <li class="list-group-item justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex align-items-center">
                        <input type="checkbox">
                        <div class="fw-bold ms-2">미정</div>
                    </div>
                    <div class="ms-2 me-auto d-flex align-items-center">
                        Content for list item
                    </div>
                </li>
                <li class="list-group-item justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex align-items-center">
                        <div class="fw-bold">미참여</div>
                    </div>
                    <div class="ms-2 me-auto d-flex align-items-center" id="nonPart">

                    </div>
                </li>
            </ol>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.onload = () => {
            lenderNonpart();
            let sessionId = [[ ${session.userId} ]];
            console.log(sessionId);
        }

        // 화면 로드 시 미참여인원 렌더링
        function lenderNonpart(){
            let users = [[${users}]];
            console.log(users);
            let nonUser = [];
            users.forEach(user => {
                nonUser += user.fbUserName + ',';
            })
            nonUser = nonUser.replace(/,\s*$/, '');
            console.log(nonUser);
            document.getElementById('nonPart').innerHTML = nonUser;
        }

        // 투표시작 버튼 클릭 시
        function voteStart(){
            console.log([[ ${session.userAuth} ]]);
            // 시작버튼 안보이게 - 삭제버튼 보이게 - 투표날짜 보이게
            document.querySelector('#vStart').classList.add('d-none');
            document.querySelector('#vDelete').classList.remove('d-none');
            document.querySelector('#vDate').classList.remove('d-none');
        }

        // 투표삭제 버튼 클릭 시
        function voteDelete(){
            console.log([[ ${session.userAuth} ]]);
            // 삭제버튼 안보이게 - 시작버튼 보이게 - 투표날짜 안보이게
            document.querySelector('#vStart').classList.remove('d-none');
            document.querySelector('#vDelete').classList.add('d-none');
            document.querySelector('#vDate').classList.add('d-none');
        }
    </script>
</th:block>

</html>
