<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>금주의 참석인원</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
    </style>

</th:block>

<th:block layout:fragment="content">
    <h1 class="mt-4">금주의 참석인원</h1>
    <ol class="breadcrumb mb-4"></ol>
    <div class="card mb-4" style="width: 700px;">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            참석인원 투표
        </div>
        <div class="card-body">
            <ol class="list-group">
                <div class="ms-2 align-items-center d-none" th:if="${session.userAuth == 'Y'}" id="vDelete">
                    <input type="button" class="btn btn-danger" style="float: right;" value="금주 투표삭제" onclick="voteDelete();"/>
                </div>
                <div class="ms-2 align-items-center" th:if="${session.userAuth == 'Y'}" id="vStart">
                    <input type="button" class="btn btn-primary" style="float: right;" value="금주 투표시작" onclick="voteStart();"/>
                </div>
                <div class="fw-bold ms-2 me-auto my-2 d-flex align-items-center d-none" id="vDate">
                    안녕하세요!
                </div>
                <li class="list-group-item justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex align-items-center">
                        <input type="checkbox">
                        <div class="fw-bold ms-2">참석</div>
                    </div>
                    <div class="ms-2 me-auto d-flex align-items-center">
                        Content for list item
                    </div>
                </li>
                <li class="list-group-item justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex align-items-center">
                        <input type="checkbox">
                        <div class="fw-bold ms-2">불참</div>
                    </div>
                    <div class="ms-2 me-auto d-flex align-items-center">
                        Content for list item
                    </div>
                </li>
                <li class="list-group-item justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex align-items-center">
                        <input type="checkbox">
                        <div class="fw-bold ms-2">미정</div>
                    </div>
                    <div class="ms-2 me-auto d-flex align-items-center">
                        Content for list item
                    </div>
                </li>
                <li class="list-group-item justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex align-items-center">
                        <div class="fw-bold">미참여</div>
                    </div>
                    <div class="ms-2 me-auto d-flex align-items-center" id="nonPart">

                    </div>
                </li>
            </ol>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.onload = () => {
            let sunday = getSunday();
            lenderNonpart();
            lenderVoteButton(sunday);
            let sessionId = [[ ${session.userId} ]];
        }

        // 화면 로드 시 투표 대상 데이터여부에 따른 시작,삭제버튼 렌더링
        function lenderVoteButton(sunday){
            $.ajax({
                url : `/weeklyAttendee/voteDate`,
                type : 'GET',
                async : false,
                success : function(response){
                    console.log(`성공적으로 투표대상날짜 존재 판별 - 서버 응답: ${response}`);
                    if(response == 'existent'){
                        lenderVoteDate(sunday);
                        // 시작버튼 안보이게 - 삭제버튼 보이게 - 투표날짜 보이게
                        document.querySelector('#vStart').classList.add('d-none');
                        document.querySelector('#vDelete').classList.remove('d-none');
                        document.querySelector('#vDate').classList.remove('d-none');
                    } else {
                        // 삭제버튼 안보이게 - 시작버튼 보이게 - 투표날짜 안보이게
                        document.querySelector('#vStart').classList.remove('d-none');
                        document.querySelector('#vDelete').classList.add('d-none');
                        document.querySelector('#vDate').classList.add('d-none');
                    }
                },
                error : function(request, status, error){
                    console.log(error);
                }
            })
        }

        // 돌아오는주 일요일 정보 가져오기
        function getSunday() {
            // 날짜 가져오기
            let today = new Date();
            // 요일 가져오기 (일:0, 월:1, ..., 토:6)
            let currentDay = today.getDay();
            // 일요일 정보 가져오기
            let sunday = 0;
            if(currentDay === 0){
                sunday = today;
            } else {
                sunday = new Date(today);
                sunday.setDate(today.getDate() + (7 - currentDay));
            }
            // 시분초 0으로 설정
            sunday.setHours(9,0,0,0);
            return sunday;
        }

        // 화면 로드 시 미참여인원 렌더링
        function lenderNonpart(){
            let users = [[${users}]];
            let nonUser = [];
            users.forEach(user => {
                nonUser += user.fbUserName + ', ';
            })
            nonUser = nonUser.replace(/,\s*$/, '');
            document.getElementById('nonPart').innerHTML = nonUser;
        }

        // 정기모임 날짜 투표생성/삭제버튼 밑에 렌더링
        function lenderVoteDate(sunday){
            let sundayMonth = sunday.getMonth() + 1; // 월요일은 1 더해줘야 해당월로 지정됨
            let sundayDate = sunday.getDate();
            let voteDate = document.querySelector('#vDate');
            voteDate.innerHTML = `
                ${sundayMonth}/${sundayDate}(일) 정기모임
            `;
        }

        // 투표시작 버튼 클릭 시
        function voteStart(){
            // 시작버튼 안보이게 - 삭제버튼 보이게 - 투표날짜 보이게
            document.querySelector('#vStart').classList.add('d-none');
            document.querySelector('#vDelete').classList.remove('d-none');
            document.querySelector('#vDate').classList.remove('d-none');
            // 일요일정보 가져오기
            let sunday = getSunday();
            // 투표생성/삭제버튼 밑에 정기모임 날짜 렌더링
            lenderVoteDate(sunday);
            // 투표 대상 날짜 데이터 생성
            createVoteDate(sunday);
        }

        // 투표 대상 날짜 데이터 생성
        function createVoteDate(sunday){
            console.log(sunday);
            sunday = sunday.toISOString();

            $.ajax({
                url : `/weeklyAttendee/voteDate`,
                type : 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ voteDate: sunday }),
                async : false,
                success : function(response){
                    console.log('성공적으로 투표대상날짜 생성');
                    console.log(`서버 응답: ${response}`);
                },
                error : function(request, status, error){
                    console.log(error);
                }
            })
        }

        // 투표삭제 버튼 클릭 시
        function voteDelete(){
            console.log([[ ${session.userAuth} ]]);
            // 삭제버튼 안보이게 - 시작버튼 보이게 - 투표날짜 안보이게
            document.querySelector('#vStart').classList.remove('d-none');
            document.querySelector('#vDelete').classList.add('d-none');
            document.querySelector('#vDate').classList.add('d-none');

            // 일요일정보 가져오기
            let sunday = getSunday();
            console.log(sunday);

            // 투표 대상 날짜 데이터 삭제
            deleteVoteDate(sunday);
        }

        // 투표 대상 날짜 데이터 삭제
        function deleteVoteDate(sunday){
            console.log(sunday);
            sunday = sunday.toISOString();

            $.ajax({
                url : `/weeklyAttendee/voteDate`,
                type : 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify({ voteDate: sunday }),
                async : false,
                success : function(response){
                    console.log('성공적으로 투표대상날짜 삭제');
                    console.log(`서버 응답: ${response}`);
                },
                error : function(request, status, error){
                    console.log(error);
                }
            })
        }
    </script>
</th:block>

</html>
