<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>뿟볼 : 비밀번호 찾기</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">비밀번호 찾기</h3></div>
                                    <div class="card-body">
                                        <!--값 담을 hidden input-->
                                        <input type="hidden" id="hiddenName" value=""/>
                                        <input type="hidden" id="hiddenEmail" value=""/>
                                        <!--이름 입력-->
                                        <div class="form-floating mb-3" id="inputNameDiv">
                                            <input class="form-control" name="fbUserName" id="inputName" placeholder="홍길동" />
                                            <label for="inputName" class="text-muted">이름을 입력해주세요.</label>
                                        </div>
                                        <!--이메일 입력-->
                                        <div class="form-floating mb-3" id="inputEmailDiv">
                                            <input class="form-control" name="fbUserEmail" id="inputEmail" type="email" placeholder="name@example.com" />
                                            <label for="inputEmail" class="text-muted">재설정 할 이메일을 입력해주세요.</label>
                                        </div>
                                        <!--비밀번호 재설정 메일 보내기-->
                                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0" id="sendMailDiv">
                                            <button class="btn btn-primary" type="button" style="width: 100%;" onclick="sendPwd()">
                                                비밀번호 재설정 메일 보내기
                                            </button>
                                        </div>
                                        <!--인증번호 입력-->
                                        <div class="form-floating mb-3 d-none" id="inputAuthDiv">
                                            <input class="form-control" id="inputAuthNum" type="password" placeholder="Password" />
                                            <label for="inputAuthNum">인증번호를 입력해주세요.</label>
                                        </div>
                                        <!--인증번호 확인-->
                                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0 d-none" id="authCheckDiv">
                                            <button class="btn btn-primary" type="button" style="width: 100%;" onclick="confirmAuth()">
                                                확인
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small">
                                            <a href="/login" style="text-decoration: none;">로그인 화면</a>
                                            <span style="border-left: 1px solid black; height: 10px; margin: 0 5px;"></span>
                                            <a href="/signup" style="text-decoration: none;">회원가입</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; 뿟볼 2024</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:inline="javascript">

        // 메일 보내기 버튼 클릭 시
        function sendPwd(){

            // 이름 및 이메일 입력 여부 확인
            let inputName = document.querySelector('#inputName');
            let inputEmail = document.querySelector('#inputEmail');
            if(inputName.value == '' || inputName.value == null){
                alert('이름을 입력해주세요');
                return;
            }
            if(inputEmail.value == '' || inputEmail.value == null){
                alert('이메일을 입력해주세요');
                return;
            }

            // 이름 이메일 히든 input에 넣어주기
            document.querySelector('#hiddenName').value = inputName.value;
            document.querySelector('#hiddenEmail').value = inputEmail.value;

            // 인증번호 전송 후 폼 변경
            $.ajax({
                url: `/password/sendAuth`,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(
                    { fbUserEmail: inputEmail.value,
                      fbUserName: inputName.value }
                ),
                async : false,
                success: function(response) {
                    if(response == 'success'){
                        alert('인증번호가 전송되었습니다.');
                        document.querySelector('#sendMailDiv').classList.add('d-none');
                        document.querySelector('#inputEmailDiv').classList.add('d-none');
                        document.querySelector('#inputNameDiv').classList.add('d-none');
                        document.querySelector('#inputAuthDiv').classList.remove('d-none');
                        document.querySelector('#authCheckDiv').classList.remove('d-none');
                    }
                },
                error : function(request, status, error){
                    alert('존재하지 않는 유저입니다.');
                    console.log(error);
                }
            })
        }

        // 인증번호 확인 버튼 클릭 시
        function confirmAuth(){

            // 이름, 이메일 hidden 값
            let hiddenNameVal = document.querySelector('#hiddenName').value;
            let hiddenEmailVal = document.querySelector('#hiddenEmail').value;

            // 인증번호 미입력 시
            let inputAuthNum = document.querySelector('#inputAuthNum');
            if(inputAuthNum.value == '' || inputAuthNum.value == null){
                alert('인증번호를 입력해주세요.');
                return;
            }

            // 인증번호 확인 후 비밀번호 수정 페이지로 가기
            $.ajax({
                url: `/password/confirmAuth`,
                type: "POST",
                data: { insertedNum : inputAuthNum.value,
                        insertedName : hiddenNameVal,
                        insertedEmail : hiddenEmailVal}, // dto에 전달할 것 아니면 json으로 감싸기x
                async : false,
                success: function(response) {
                    if(response == 'success'){
                        alert('인증되었습니다! 비밀번호 수정페이지로 이동합니다.');
                        window.location.href = "/password/modify";
                    }else if(response == 'fail'){
                        alert('인증번호가 일치하지 않습니다.');
                        return;
                    }
                },
                error : function(request, status, error){
                    alert('세션이 만료되었습니다.');
                    location.reload();
                }
            })
        }

    </script>

    </body>
</html>
