<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>뿟볼 : 비밀번호 변경</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">비밀번호 변경</h3></div>
                                    <div class="card-body">
                                        <!--비밀번호 입력-->
                                        <div class="form-floating mb-3" id="inputPwdDiv">
                                            <input class="form-control" id="inputPwd" type="password" placeholder="Password" />
                                            <label for="inputPwd">비밀번호를 입력해 주세요.(최소 8자 이상, 영문과 특수 문자를 포함)</label>
                                        </div>
                                        <!--비밀번호 확인 입력-->
                                        <div class="form-floating mb-3" id="inputConfPwdDiv">
                                            <input class="form-control" id="inputConfPwd" type="password" placeholder="confirmPassword" />
                                            <label for="inputConfPwd">다시 한번 입력해 주세요.</label>
                                        </div>
                                        <!--비밀번호 변경 버튼-->
                                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0" id="modifyPwdDiv">
                                            <button class="btn btn-primary" type="button" style="width: 100%;" onclick="modifyPwd()">
                                                비밀번호 변경하기
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; 뿟볼 2024</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:inline="javascript">
        // 비밀번호 변경 버튼 클릭
        function modifyPwd() {
            // 비밀번호 요소 불러오기
            let inputPwd = document.querySelector('#inputPwd');
            let inputConfPwd = document.querySelector('#inputConfPwd');

            // 비밀번호 유효성 검사
            if(!validatePassword(inputPwd.value)){
                alert('올바르지 않은 비밀번호 양식입니다.');
                return;
            }else if(inputPwd.value !== inputConfPwd.value) {
                alert('비밀번호가 일치하지 않습니다.');
                return;
            }

            // session에서 email과 이름 가져오기
            const userEmail = /*[[ ${session.userEmail} ]]*/ null;
            const userName = /*[[ ${session.userName} ]]*/ null;

            // session값 유무 확인
            if(userEmail == null){
                alert('세션이 만료되었습니다.');
                window.location.href = "/password/find";
            }

            // 비밀번호 변경
            $.ajax({
                url: '/password/modify',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(
                    { fbUserEmail: userEmail,
                      fbUserName: userName,
                      fbUserPswd: inputPwd.value}
                ),
                success : function(response){
                    if(response == 'success'){
                        alert('성공적으로 변경되었습니다! 변경된 비밀번호로 로그인해 주세요.');
                        window.location.href = '/login';
                    }
                },
                error : function(request, status, error){
                    console.log(error);
                }
            })
        }

        // 비밀번호 유효성 검사
        function validatePassword(password) {
            // 영문, 특수문자의 조합으로 8자 이상 확인
            const passwordRegex = /^(?=.*[a-zA-Z])(?=.*[$@$!%*?&])[a-zA-Z\d$@$!%*?&]{8,}$/;
            return passwordRegex.test(password);
        }
    </script>
    </body>
</html>
