<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>드림FC 소개</title>
</th:block>

<th:block layout:fragment="content">
    <!-- 제목 -->
    <div class="mt-4 mb-2 d-flex align-items-center">
        <i class="fas fa-users me-1 fa-2x me-1"></i>
        <h2 class="mb-0">드림FC 소개</h2>
    </div>
    <div class="card mb-4 mt-4" style="border: none;">
        <img src="/assets/img/introducingDreamFC.jpg" />
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>

</html>
