<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:border-right="http://www.w3.org/1999/xhtml">

<body th:fragment="main-body" class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand"
     style="border-bottom: 1px solid rgba(0, 128, 0, 0.2); background-color: #228B22;" >
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{'/'}">
        <img src="/assets/img/logo.jpg" style="width: 150px; height: 100px;">
    </a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" style="color: #fff;"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!" th:if = "${session.userId} != null" th:text = "${session.userNickname}"></a></li>
                <li><a class="dropdown-item" th:href="@{'/myPage'}" th:if = "${session.userId} != null">내정보</a></li>
                <li><a class="dropdown-item" th:href="@{'/board/myWrite'}" th:if = "${session.userId} != null">내가쓴글보기</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" th:if = "${session.userId} != null" th:href="@{'/logout'}">로그아웃</a></li>
                <li><a class="dropdown-item" th:if = "${session.userId} == null" th:href="@{'/login'}">로그인</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion" id="sidenavAccordion">
            <div class="sb-sidenav-menu" style="border-right: 1px solid rgba(0, 128, 0, 0.2); background-color: rgba(0, 0, 0, 0.03);" >
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">소개</div>
                    <a class="nav-link" th:href="@{/}">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        동호회 소개
                    </a>
                    <a class="nav-link" th:href="@{/}">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        멤버 소개
                    </a>
                </div>
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">팀 구성</div>
                    <a class="nav-link" th:href="@{/weeklyAttendee}">
                        <div class="sb-nav-link-icon"><i class="fas fa-futbol"></i></div>
                        금주의 참석인원
                    </a>
                    <a class="nav-link" th:href="@{/previousAttendee}">
                        <div class="sb-nav-link-icon"><i class="fas fa-futbol"></i></div>
                        지나간 참석자 명단
                    </a>
                </div>
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">게시판</div>
                    <a class="nav-link" th:href="@{'/freeBoard'}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        자유게시판
                    </a>
                    <a class="nav-link" th:href="@{/suggestionBoard}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        건의게시판
                    </a>
                </div>
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">회비</div>
                    <a class="nav-link" th:href="@{/fee}">
                        <div class="sb-nav-link-icon"><i class="fas fa-coins"></i></div>
                        회비 납부 현황
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer" style="border: 1px solid rgba(0, 128, 0, 0.2);">
                <div class="small"></div>
                Copyright 드림FC
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!--MAIN-->
                <th:block layout:fragment="content"></th:block>
                <!--END MAIN CONTENT-->
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                </div>
            </div>
        </footer>
        <th:block layout:fragment="modal"></th:block>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script th:src="@{/js/datatables-simple-demo.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
<th:block layout:fragment="script"><</th:block>
</body>
</html>
