@charset "UTF-8";

th {
    text-align: center;
}

td {
    text-align: center;
}

td input[type="text"] {
    width: 38px;
    display: block;
    margin: 0 auto;
}

td > .select-ability {
    width: 38px;
    display: block;
    margin: 0 auto;
}

.table-wrapper {
    overflow-y: auto;
    max-height: 500px;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}