@charset "UTF-8";

.no-markers {
    list-style-type: none;
    padding: 0;
}

/* 해당 높이 이상 데이터가 넘어가면 스크롤 생성 */
.centered-flex {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 0 8px;
}

/* strong 속성 해당 부모 div 맨 위에 고정 */
.centered-flex strong {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}