<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>드림FC</title>
</th:block>

<th:block layout:fragment="content" >
    <div class="container mt-5" style="background-image: url('/assets/img/football.jpg'); min-height: 80vh; background-size: cover; background-position: center;">

        <div class="row">
            <!-- 첫 번째 카드 아이템 -->
            <div class="col-md-6 mb-4">
                <div class="card" style="opacity: 0.7;">
                    <div class="card-body">
                        <h1 class="card-title">자유게시판</h1>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go Go</a>
                    </div>
                </div>
            </div>

            <!-- 두 번째 카드 아이템 -->
            <div class="col-md-6 mb-4">
                <div class="card" style="opacity: 0.7;">
                    <div class="card-body">
                        <h1 class="card-title">건의게시판</h1>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go Go</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card" style="opacity: 0.7;">
                    <div class="card-body">
                        <h1 class="card-title">금주의 참석인원</h1>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go Go</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card" style="opacity: 0.7;">
                    <div class="card-body">
                        <h1 class="card-title">지나간 경기 팀 구성</h1>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="modal">

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>
</html>