<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="title">
    <title>드림FC</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</th:block>

<th:block layout:fragment="layoutSidenav_content">
    <div class="backgroundMain dream-main">
        <div class="slides">
            <img src="/assets/img/memberShot/memberShot.jpg">
            <img src="/assets/img/memberShot/memberShot2.jpg">
            <img src="/assets/img/memberShot/memberShot3.jpg">
        </div>
        <div class="content">
            <div class="content-title">
                <img src="./assets/img/메인용 로고.png" class="logo" />
                <div class="mt-4 mb-2 d-flex align-items-center">
                    <h2 class="mb-0">광명 드림FC에 오신 것을 환영합니다!</h2>
                </div>
            </div>
        </div>ZZ
        <div class="buttons">
            <button onclick="goToSlide(0)"><i class="fas fa-circle"></i></button>
            <button onclick="goToSlide(1)"><i class="fas fa-circle"></i></button>
            <button onclick="goToSlide(2)"><i class="fas fa-circle"></i></button>
        </div>
    </div>
</th:block>
<th:block layout:fragment="content">
    <!-- 제목 -->
    <div class="mt-4 mb-2 d-flex flex-column align-items-center">
        <strong class="text-danger mb-2">축구와 풋살이 좋은 사람들의 모임</strong>
        <span class="fs-5 fw-bold">임원진 연락처 : 010-1234-5678</span>
    </div>
</th:block>


<th:block layout:fragment="modal">

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        //슬라이드 관련 변수 생성
        const slides = document.querySelector('.backgroundMain .slides');
        const slideImages = document.querySelectorAll('.backgroundMain .slides img');
        const buttons = document.querySelectorAll('.buttons button');

        let currentIndex = 0;
        const totalSlides = slideImages.length;
        const slideWidth = slideImages[0].clientWidth;

        function goToSlide(index) {
            currentIndex = index;
            slides.style.transform = `translateX(-${currentIndex * slideWidth}px)`;
            updateButtons();
        }

        function updateButtons() {
            buttons.forEach((button, index) => {
                if (index === currentIndex) {
                    button.classList.add('active');
                } else {
                    button.classList.remove('active');
                }
            });
        }

        function nextSlide() {
            currentIndex = (currentIndex + 1) % totalSlides;
            slides.style.transform = `translateX(-${currentIndex * slideWidth}px)`;
            updateButtons();
        }

        setInterval(nextSlide, 3000); // 3초마다 이미지 변경


    </script>
</th:block>
</html>