<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">

</th:block>

<th:block layout:fragment="content">
    <iframe width="640" height="360" th:src="@{'https://www.youtube.com/embed/eIcmPDkv8b8'}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</th:block>

<th:block layout:fragment="modal">

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>
</html>