<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>내 정보 보기</title>
</th:block>

<th:block layout:fragment="add-css"></th:block>

<th:block layout:fragment="content">
    <!-- 제목 -->
    <div class="mt-4 mb-4 d-flex align-items-center">
        <i class="fas fa-user-edit me-1 fa-2x me-1"></i>
        <h2 class="mb-0">내 정보 수정</h2>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <!--프로필 사진 수정-->
            <div class="card mb-4 d-flex mb-xl-0">
                <div class="card-header d-flex align-items-center">
                    <i class="fas fa-edit me-1-2x me-1"></i>
                    <p class="mb-0 fw-bold">프로필 사진 수정</p>
                </div>
                <form action="/myPage/profileImg" method="POST" id="profileForm" enctype="multipart/form-data">
                    <div class="card-body text-center">
                        <!--프로필 사진 없을 때-->
                        <div th:if="${#strings.isEmpty(user.fbUserImg)}">
                            <img class="img-account-profile default-thumbnail rounded-circle mb-2 profileImg"
                                 th:src="'/assets/img/userImg/user_icon.jpg'">
                        </div>
                        <!--프로필 사진 있을 때-->
                        <div th:unless="${#strings.isEmpty(user.fbUserImg)}">
                            <img class="img-account-profile default-thumbnail rounded-circle mb-2 profileImg"
                                 th:src="@{/myPage/profileImg/}+${session.userId}" />
                        </div>
                        <div class="small font-italic text-muted mb-4">5MB이하의 jpg,png 파일을 선택해주세요 </div>
                        <div class="col">
                            <input class="d-none" type="file" name="profileImg" id="imgInput" accept="image/*">
                            <button class="btn btn-secondary d-block mb-2 w-100" type="button" onclick="uploadImg();">프로필 사진 선택</button>
                            <button class="btn btn-danger d-block mb-2 w-100" type="button" id="deleteImg">프로필 사진 삭제</button>
                            <input type="submit" class="btn btn-primary d-block mb-2 w-100" value="프로필 사진 변경하기">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-8">
            <!--정보 수정-->
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center">
                    <i class="fas fa-edit me-1-2x me-1"></i>
                    <p class="mb-0 fw-bold">정보 수정(수정할 정보를 입력 후 현재 비밀번호를 입력해주세요)</p>
                </div>
                <div class="card-body">
                    <form>
                        <!--이메일-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">이메일</label>
                            <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address"
                                   th:value="${user.fbUserEmail}" readonly>
                        </div>
                        <!--닉네임-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUserNickname">닉네임</label>
                            <div class="input-group">
                                <input class="form-control" id="inputUserNickname" type="text" placeholder="Enter your nickname"
                                       th:value="${user.fbUserNickname}">
                                <input type="hidden" id="hiddenInputNick">
                                <button type="button" id="btnNickDuplicate" class="btn btn-outline-secondary" onclick="validateNickname();">
                                    중복검사
                                </button>
                            </div>
                            <span id="nickname-error" class="error-message text-danger"></span>
                        </div>
                        <!--이름-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUserName">이름</label>
                            <input class="form-control" id="inputUserName" type="text" placeholder="Enter your username"
                                   th:value="${user.fbUserName}">
                            <span id="name-error" class="error-message text-danger"></span>
                        </div>
                        <!--핸드폰 번호 및 생년월일-->
                        <div class="row gx-3 mb-3">
                            <!-- 핸드폰 번호-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">핸드폰 번호</label>
                                <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number"
                                       th:value="${user.fbUserPhone}" oninput="addHyphen();">
                                <span id="phone-error" class="error-message text-danger"></span>
                            </div>
                            <!-- 생년월일-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputUserBirth">생년월일</label>
                                <input class="form-control" type="date" id="inputUserBirth"
                                       max="2005-12-31" min="1950-01-01" th:value="${user.fbUserBirth}">
                                <span id="birth-error" class="error-message text-danger"></span>
                            </div>
                        </div>
                        <!--주소-->
                        <div class="mb-3 ">
                            <label class="small mb-1" for="inputAddress">주소</label>
                            <div class="input-group">
                                <input class="form-control" id="inputAddress" type="text" placeholder="Enter your address"
                                       th:value="${user.fbUserAddress}">
                                <button type="button" id="btnAddress" class="btn btn-outline-secondary" onclick="findAddress();">주소찾기</button>
                            </div>
                        </div>
                        <!--비밀번호-->
                        <div class="row gx-3 mb-3">
                            <label class="small mb-1" for="userPswd">비밀번호 변경</label>
                            <div class="col-md-6">
                                <input class="form-control" id="userPswd" type="password" placeholder="변경할 비밀번호를 입력해주세요">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" id="userPswdConf" type="password" placeholder="다시 확인해주세요">
                            </div>
                            <span id="pswd-error" class="error-message text-danger"></span>
                        </div>
                        <!--현재 비밀번호 입력-->
                        <div class="mb-3">
                            <label class="small mb-1" for="currentUserPswd">* 현재 비밀번호 입력</label>
                            <input class="form-control" id="currentUserPswd" type="password" placeholder="현재 비밀번호를 입력해주세요">
                            <span id="currentPswd-error" class="error-message text-danger"></span>
                        </div>
                        <!--정보 수정하기 버튼-->
                        <button class="btn btn-primary d-block w-100" id="updateBtn" type="button">정보 수정하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">

        // 프로필 이미지 추가/변경/삭제
        const profileImg = document.querySelector('.profileImg'); // img 요소
        const imgInput = document.querySelector('#imgInput'); // input 요소
        const deleteImg = document.querySelector('#deleteImg'); // delete input 요소

        // 초기 프로필 이미지 상태를 저장
        let initCheck; // false == 기본, true == 이전 업로드

        // 프로필 이미지가 새로 업로드되거나 삭제되었음을 나타냄
        let deleteCheck = -1; // -1 == 초기값, 0 == 프로필 삭제, 1 == 새 업로드 이미지

        // 초기 프로필 이미지 파일 경로 저장
        let originalImg;

        // 화면에 imgInput이 있을 경우
        if(imgInput != null){

            // 프로필 이미지가 출력되는 img 요소의 src 속성을 저장
            originalImg = profileImg.getAttribute("src");

            // 현재 회원의 프로필 이미지 상태 확인
            if(originalImg == '/assets/img/userImg/user_icon.jpg'){
                // 기본 이미지인 경우
                initCheck = false;
            }else {
                initCheck = true;
            }
        }

        imgInput.addEventListener("change", e => {

            // 5MB로 최대 크기 제한
            const maxSize = 1 * 1024 * 1024 * 5; // 파일의 최대 크기 지정(바이트)
            console.log(e.target); // input
            console.log(e.target.value); // 업로드된 파일 경로
            console.log(e.target.files); // 업로드된 파일의 정보가 담긴 배열

            const file = e.target.files[0]; // 업로드한 파일의 정보가 담긴 객체

            // 파일을 한 번 선택한 후 취소했을 때
            if(file == undefined){
                console.log("파일 선택이 취소됨");
                deleteCheck = -1; // 취소 == 파일 없음

                // 취소 시 기존 프로필 이미지로 변경
                profileImg.setAttribute("src", originalImg);
                return;
            }

            // 선택된 파일의 크기가 최대 크기를 초과한 경우
            if(file.size > maxSize){
                alert("5MB 이하의 이미지를 선택해 주세요.");
                imgInput.value = "";
                deleteCheck = -1; // 취소 == 파일 없음
                // 기존 프로필 이미지로 변경
                profileImg.setAttribute("src", originalImg);
                return;
            }

            // JS에서 파일을 읽는 객체 - 파일을 읽고 클라이언트 컴퓨터에 파일 저장 가능
            const reader = new FileReader();

            // 매개변수에 작성된 파일을 읽어서 저장 후,
            // 파일을 나타내는 URL을 result 속성으로 얻어올 수 있음
            reader.readAsDataURL(file);

            // 다 읽었을 때
            reader.onload = e => {
                // 읽은 파일의 url
                const url = e.target.result;

                // 프로필 이미지 속성에 src 속성으로 추가
                profileImg.setAttribute("src", url);

                deleteCheck = 1;
            }
        });

        // 삭제하기 버튼 클릭 시
        deleteImg.addEventListener("click", () =>{

            // 프로필 이미지를 기본 이미지로 변경
            profileImg.setAttribute("src", "/assets/img/userImg/user_icon.jpg");
            // input type="file"의 value 삭제
            imgInput.value = "";
            deleteCheck = 0;
        });

        // profileForm이 제출되었을 때
        document.querySelector('#profileForm').addEventListener("submit", e =>{

            // let initCheck;
            // 초기 프로필 이미지 상태를 저장하는 변수
            // false == 기본 이미지, true == 이전 업로드 이미지

            // let deleteCheck = -1;
            // 프로필 이미지가 새로 업로드되거나 삭제되었음을 나타내는 변수
            // -1 == 초기값, 0 == 프로필 삭제(x버튼), 1 == 새 업로드 이미지

            let flag = true;

            // 프로필 이미지가 없다 -> 있다
            if(!initCheck && deleteCheck == 1){
                flag = false;
            }
            // 이전 프로필 이미지가 있다 -> 삭제
            if(initCheck && deleteCheck == 0){
                flag = false;
            }
            // 이전 프로필 이미지가 있다 -> 변경
            if(initCheck && deleteCheck == 1){
                flag = false;
            }

            // flag == true -> 제출하면 안 되는 경우
            if(flag){
                e.preventDefault(); // form 기본 이벤트 제거
                alert('이미지를 선택 후 변경하여 주세요!');
            }

        });

        // 프로필 사진 올리기 버튼
        function uploadImg(){
            // 파일 선택 input 가져오기
            let imgInput = document.querySelector('#imgInput');

            // 파일 선택 input 클릭
            imgInput.click();
        }

        // 정보 수정하기 클릭 시
        document.querySelector('#updateBtn').addEventListener('click', () => {

            // 변수화
            const fbUserNickname = document.querySelector('#inputUserNickname');
            const fbUserName = document.querySelector('#inputUserName');
            const fbUserPhone = document.querySelector('#inputPhone');
            const fbUserBirth = document.querySelector('#inputUserBirth');
            const fbUserAddress = document.querySelector('#inputAddress');
            const fbUserPswd = document.querySelector('#userPswd');
            const fbUserPswdConf = document.querySelector('#userPswdConf');
            const currentUserPswd = document.querySelector('#currentUserPswd');

            // 배열에 요소 담기
            const fbUserArray = [fbUserName, fbUserPhone, fbUserAddress];

            // 배열에 기존값 담기
            const modelUserArray = [ [[${user.fbUserName}]],[[${user.fbUserPhone}]],[[${user.fbUserAddress}]] ];

            // 요소 값이 비어 있으면 기존값 담기
            for(var i = 0; i < fbUserArray.length; i++){
                if(!fbUserArray[i].value){
                    fbUserArray[i].value = modelUserArray[i];
                }
            }

            // 닉네임 유효성 검사 및 중복 검사
            if (!validateNick(fbUserNickname.value)) {
                document.getElementById('nickname-error').textContent = "올바르지 않은 닉네임 형식입니다.";
                return;
            }else{
                document.getElementById('nickname-error').textContent = "";
            }

            if(!nicknameCheck(fbUserNickname)) {
                document.querySelector('#nickname-error').classList.remove('text-success');
                document.querySelector('#nickname-error').classList.add('text-danger');
                document.querySelector('#nickname-error').textContent = "중복된 닉네임 입니다.";
                return;
            }else {
                document.querySelector('#nickname-error').textContent = "";
            }

            // 이름 유효성 검사
            if (!validateName(fbUserName.value)) {
                document.getElementById('name-error').textContent = "2글자 이상의 한글 혹은 영어이름을 기입해주세요.";
                return;
            } else {
                document.getElementById('name-error').textContent = "";
            }

            // 핸드폰 유효성 검사
            if (!validatePhone(fbUserPhone.value)) {
                document.getElementById('phone-error').textContent = "올바르지 않은 핸드폰 번호 형식입니다.";
                return;
            }else{
                document.getElementById('phone-error').textContent = "";
            }

            // 생년월일 유효성 검사
            let inputDate = new Date(fbUserBirth.value);
            let minDate = new Date("1950-01-01");
            let maxDate = new Date("2005-12-31");

            if(inputDate < minDate) {
                fbUserBirth.value = [[ ${user.fbUserBirth} ]];
                document.getElementById('birth-error').textContent = "1950년 이후로 입력해주십시오.";
                return;
            }else if(inputDate > maxDate) {
                fbUserBirth.value = [[ ${user.fbUserBirth} ]];
                document.getElementById('birth-error').textContent = "2006년 이전으로 입력해주십시오.";
                return;
            }else {
                document.getElementById('birth-error').textContent = "";
            }

            // 변경할 비밀번호 유효성 검사
            if (fbUserPswd.value !== null && fbUserPswd.value !== '') {
                if (!validatePassword(fbUserPswd.value)) {
                    document.getElementById('pswd-error').textContent = "비밀번호는 최소 8자 이상, 영문과 특수 문자를 포함해야 합니다.";
                    return;
                }else if(fbUserPswd.value != fbUserPswdConf.value){
                    document.getElementById('pswd-error').textContent = "비밀번호가 일치하지 않습니다. 다시한번 확인해주세요.";
                    return;
                }else{
                    document.getElementById('pswd-error').textContent = "";
                }
            }

            // 현재 비밀번호 유효성 검사
            if (!validatePassword(currentUserPswd.value)) {
                document.getElementById('currentPswd-error').textContent = "정보 수정을 위해 현재 비밀번호를 입력해주십시오.(최소 8자 이상, 영문과 특수 문자를 포함)";
                return;
            }else {
                document.getElementById('currentPswd-error').textContent = "";
            }

            // 현재 비밀번호 확인
            let pwdBoolean = false;
            $.ajax({
                type: 'POST',
                url: '/myPage/profile/confirmPwd',
                async: false,
                data: {fbUserPswd: currentUserPswd.value},
                success: function(response){
                    pwdBoolean = response;
                },
                error: function(xhr,status,error) {
                    console.error('회원정보 수정 중 오류가 발생했습니다.', error);
                }
            })
            if(!pwdBoolean){
                document.getElementById('currentPswd-error').textContent = "비밀번호를 확인해주세요.";
                return;
            }

            // 내 정보 업데이트
            $.ajax({
                type: 'POST',
                url: '/myPage/profile',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({
                    fbUserNickname: fbUserNickname.value,
                    fbUserName: fbUserName.value,
                    fbUserPhone: fbUserPhone.value,
                    fbUserBirth: fbUserBirth.value,
                    fbUserAddress: fbUserAddress.value,
                    fbUserPswd: fbUserPswd.value
                }),
                success: function(response) {
                    if(response == 'success'){
                    alert('정보가 정상적으로 수정되었습니다!');
                    location.reload();
                    }
                },
                error: function(xhr,status,error) {
                    console.error('회원정보 수정 중 오류가 발생했습니다.', error);
                }
            })
        });

        // 닉네임 유효성 검사 및 중복 검사
        function validateNickname(){
            // 요소 가져오기
            const fbUserNickname = document.querySelector('#inputUserNickname');

            // 유효성 검사
            if (!validateNick(fbUserNickname.value)) {
                document.getElementById('nickname-error').textContent = "올바르지 않은 닉네임 형식입니다.";
                return;
            }else{
                document.getElementById('nickname-error').textContent = "";
            }

            // 중복 검사
            let nickBoolean = nicknameCheck(fbUserNickname);
            if(nickBoolean == true){
                document.querySelector('#nickname-error').classList.remove('text-danger');
                document.querySelector('#nickname-error').classList.add('text-success');
                document.querySelector('#nickname-error').textContent = "사용가능한 닉네임 입니다.";
            }else {
                document.querySelector('#nickname-error').classList.remove('text-success');
                document.querySelector('#nickname-error').classList.add('text-danger');
                document.querySelector('#nickname-error').textContent = "중복된 닉네임 입니다.";
            }
        }
    </script>
</th:block>

</html>
