<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="preload" href="/assets/img/footBallLoginBackground.jpg" as="image">
    <title>드림FC : 회원가입</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!-- Bootstrap-datepicker CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS (Popper.js 포함) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap-datepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>
<body class="backgroundBody">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 mb-5">
                        <div style="text-align: center;">
                            <a th:href="@{'/'}">
                                <img src="/assets/img/logo.jpg" style="width: 250px; height: 180px;">
                            </a>
                        </div>
                        <div class="card shadow-lg border-0 rounded-lg mt-3">
                            <div class="card-header">
                                <h2 class="text-center my-4">회원가입</h2>
                            </div>
                            <div class="card-body">
                                <form id="signupForm" method="post">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputEmail" type="email" name="fbUserEmail"
                                               placeholder="name@example.com"/>
                                        <label for="inputEmail">이메일</label>
                                        <span id="email-error" class="error-message" style="color: red;"></span> <!-- 실패 메시지 표시할 곳 -->
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="inputPassword" type="password" name="fbUserPswd"
                                                       placeholder="Create a password"/>
                                                <label for="inputPassword">비밀번호</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="inputPasswordConfirm" type="password"
                                                       placeholder="Confirm password"/>
                                                <label for="inputPasswordConfirm">비밀번호 확인</label>
                                            </div>
                                        </div>
                                        <span id="password-error" class="error-message" style="color: red;"></span> <!-- 실패 메시지 표시할 곳 -->
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputName" name="fbUserName" type="text"
                                               placeholder="이름"/>
                                        <label for="inputEmail">이름</label>
                                        <span id="name-error" class="error-message" style="color: red;"></span> <!-- 실패 메시지 표시할 곳 -->
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputNick" name="fbUserNickname" type="text"
                                               placeholder="닉네임"/>
                                        <label for="inputNick">닉네임</label>
                                        <span id="nickname-error" class="error-message" style="color: red;"></span> <!-- 실패 메시지 표시할 곳 -->
                                    </div>
                                    <div class="form-floating mb-3">
                                        <div class="input-group date">
                                            <select class="form-select" id="selectYear">
                                                <option disabled selected>출생 년도</option>
                                            </select>
                                            <select class="form-select" id="selectMonth">
                                                <option disabled selected>월</option>
                                            </select>
                                            <select class="form-select" id="selectDay">
                                                <option disabled selected>일</option>
                                            </select>
                                            <input type="hidden" id="hiddenDateOfBirth" name="fbUserBirth">
                                        </div>
                                        <span id="birth-error" class="error-message" style="color: red;"></span> <!-- 실패 메시지 표시할 곳 -->
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputPhone" name="fbUserPhone" type="tel"
                                               placeholder="핸드폰번호"/>
                                        <label for="inputPhone">핸드폰번호</label>
                                        <span id="phone-error" class="error-message" style="color: red;"></span> <!-- 실패 메시지 표시할 곳 -->
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputAddress" name="fbUserAddress" type="text"
                                               placeholder="주소"/>
                                        <label for="inputAddress">주소</label>
                                        <span id="address-error" class="error-message" style="color: red;"></span> <!-- 실패 메시지 표시할 곳 -->
                                        <button type="button" id="btnAddress" class="btn btn-outline-secondary" onclick="findAddress();"
                                                style="position: absolute; right: 0; top: 0; height: 100%; width: auto;">주소찾기</button>
                                    </div>
                                    <div class="d-grid">
                                        <button type="button" id="saveBtn" class="btn btn-primary" onclick="signUp();">회원가입</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small">
                                    <a href="login" style="text-decoration: none; color: green;">로그인 화면으로</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script>
    document.getElementById('inputPhone').addEventListener('input', function(event) {
        // 정규식: 숫자만 허용
        var numericInput = event.target.value.replace(/\D/g, '');
        event.target.value = numericInput;
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/scripts.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
        <!--회원가입 버튼 클릭 시-->
        async function signUp(){
            console.log('회원가입 클릭');
            let success =  await checkValidation()
            if(success == true){
                console.log('일로와');
                const form = document.getElementById('signupForm');
                console.log(document.getElementById('hiddenDateOfBirth').value);
                document.getElementById('saveBtn').disabled = true;
                form.action = '/signup';
                form.submit();
            }
        };

        <!--유효성 검사 및 중복 검사-->
        async function checkValidation(){
            const email = document.getElementById('inputEmail').value;
            const pswd = document.getElementById('inputPassword').value;
            const pswdConfirm = document.getElementById('inputPasswordConfirm').value;
            const name = document.getElementById('inputName').value;
            const nickname = document.getElementById('inputNick').value;
            const phone = document.getElementById('inputPhone').value;
            let birth = document.getElementById('hiddenDateOfBirth').value;
            let inputBirth = document.getElementById('hiddenDateOfBirth');
            const address = document.getElementById('inputAddress').value;

            // 이메일
            // 정규식 검사
            if(!validateEmail(email)){
                document.getElementById('email-error').textContent = "올바르지 않은 이메일 양식입니다.";
                return;
            }else{
                document.getElementById('email-error').textContent = "";
            }
            // 중복 검사
            const checkEmail = await checkEmailAvailability(email);
            if(checkEmail){
                document.getElementById('email-error').textContent = "";
            }else{
                document.getElementById('email-error').textContent = "중복된 이메일입니다.";
                return;
            }

            // 비밀번호
            if (!validatePassword(pswd)) {
                document.getElementById('password-error').textContent = "비밀번호는 최소 8자 이상, 영문과 특수 문자를 포함해야 합니다.";
                return;
            }else if(pswd != pswdConfirm){
                document.getElementById('password-error').textContent = "비밀번호가 일치하지 않습니다. 다시한번 확인해주세요.";
                return;
            }else{
                document.getElementById('password-error').textContent = "";
            }

            // 이름
            if (!validateName(name)) {
                document.getElementById('name-error').textContent = "2글자 이상의 한글 혹은 영어이름을 기입해주세요.";
                return;
            } else {
                document.getElementById('name-error').textContent = "";
            }

            // 닉네임
            // 정규식 검사
            if (!validateNick(nickname)) {
                document.getElementById('nickname-error').textContent = "2글자 이상 7글자 이하의 한글,영어,숫자 조합으로 입력해주세요.";
                return;
            } else {
                document.getElementById('nickname-error').textContent = "";
            }
            // 중복 검사
            const checkNickname = await checkNicknameAvailability(nickname);
            if(checkNickname){
                document.getElementById('nickname-error').textContent = "";
            }else{
                document.getElementById('nickname-error').textContent = "중복된 닉네임입니다.";
                return;
            }

            // 생년월일
            // 생년월일 hidden input에 담기
            birth = submitDateOfBirth();
            inputBirth.value = birth;

            // 생년월일 정규식 검사
            if(!validateBirth(birth)){
                document.getElementById('birth-error').textContent = "생년월일을 선택해 주세요.";
                return;
            }else{
                document.getElementById('birth-error').textContent = "";
            }

            // 핸드폰 정규식 검사
            if (!validatePhone(phone)) {
                document.getElementById('phone-error').textContent = "올바르지 않은 핸드폰 번호 형식입니다.";
                return;
            }else{
                document.getElementById('phone-error').textContent = "";
            }

            // 주소 검사
            if (address == null || address == '') {
                document.getElementById('address-error').textContent = "주소를 넣어주세요";
                return;
            }else{
                document.getElementById('address-error').textContent = "";
            }
            return true;
        }

        <!--이메일 중복 검사-->
        async function checkEmailAvailability(email) {
            // email 확인
            console.log(`${email}은?`);
            try {
                // AJAX 호출로 이메일 중복 검사
                const response = await fetch(`/checkEmail?email=${email}`);
                const data = await response.json();
                return data;
            } catch(error) {
                console.error("이메일 중복 검사 중 오류 발생:", error);
                throw error;
            }
        };

        <!--닉네임 중복 검사-->
        async function checkNicknameAvailability(nickname) {
            // nickname 확인
            try {
                // AJAX 호출로 닉네임 중복 검사
                const response = await fetch(`/checkNickname?nickname=${nickname}`);
                const data = await response.json();
                return data;
            } catch(error) {
                console.error("닉네임 중복 검사 중 오류 발생:", error);
                throw error;
            }
        };

        <!--생년월일 hidden에 담기-->
        function submitDateOfBirth(){
            // 선택된 년, 월, 일 가져오기
            let selectedYear = birthYear.value;
            let selectedMonth = birthMonth.value;
            let selectedDay = birthDay.value;
            // 년, 월, 일 합치기
            if(selectedMonth.length == 1){
                selectedMonth = '0'+selectedMonth;
            }
            if(selectedDay.length == 1){
                selectedDay = '0'+selectedDay;
            }
            let hiddenBirthInput = selectedYear + "-" + selectedMonth + "-" + selectedDay;
            console.log(hiddenBirthInput);
            return hiddenBirthInput;
        }

        <!--생년월일-->
        // 셀렉트 박스 option 목록 동적 생성
        const birthYear = document.querySelector('#selectYear');
        const birthMonth = document.querySelector('#selectMonth');
        const birthDay = document.querySelector('#selectDay');
        // option 목록 생성 여부 확인
        isYearOptionExisted = false;
        isMonthOptionExisted = false;
        isDayOptionExisted = false;
        // year 목록 생성되지 않았을 때 (최초 클릭 시)
        birthYear.addEventListener('focus', function(){
            if(!isYearOptionExisted){
                isYearOptionExisted = true;
                for(var i = 2024; i >= 1940; i--){
                    // option element 생성
                    const YearOption = document.createElement('option');
                    YearOption.setAttribute('value', i);
                    YearOption.innerText = i;
                    // birthYear의 자식 요소로 추가
                    this.appendChild(YearOption);
                }
            }
        });
        // month 목록 생성되지 않았을 때 (최초 클릭 시)
        birthMonth.addEventListener('focus', function(){
            if(!isMonthOptionExisted) {
                    isMonthOptionExisted = true;
                    for(var i = 1; i <= 12; i++){
                    // option element 생성
                    const MonthOption = document.createElement('option');
                    MonthOption.setAttribute('value', i);
                    MonthOption.innerText = i;
                    // birthMonth의 자식요소로 추가
                    this.appendChild(MonthOption);
                }
            }
        });
        // day 목록 생성되지 않았을 때 (최초 클릭 시)
        birthDay.addEventListener('focus', function(){
            // 선택된 년도의 값 가져오기
            const selectedYear = parseInt(birthYear.value);
            // 선택된 월의 값 가져오기
            const selectedMonth = parseInt(birthMonth.value);
            // 월에 따른 일 수 가져오기
            if(birthYear.value != '출생 년도' && birthMonth.value != '월'){
                const daysInMonth = new Date(selectedYear, selectedMonth, 0).getDate();
                if(!isDayOptionExisted){
                    isMonthOptionExisted = true;
                    for (var i = 1; i <= daysInMonth; i++){
                        // option element 생성
                        const DayOption = document.createElement('option');
                        DayOption.setAttribute('value', i);
                        DayOption.innerText = i;
                        // biarthDay의 자식요소로 추가
                        this.appendChild(DayOption);
                    }
                }
                document.getElementById('birth-error').textContent = "";
            }else{
                document.getElementById('birth-error').textContent = "연도 혹은 월을 선택해 주세요.";
            }
        });

        <!--핸드폰번호 자동하이픈-->
        // input 값이 변경될 때마다 자동으로 하이픈 추가
        document.getElementById('inputPhone').addEventListener('input', addHyphen);

    /*]]>*/
</script>
</body>
</html>
