<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>건의게시판</title>
</th:block>

<th:block layout:fragment="content">
            <h1 class="mt-4">게시물 상세보기</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    게시물 상세정보
                </div>
                <div class="card-body">
                    <form>
                    <div th:if="${post}">

                        <h2 th:text="${post.suggestionBoardTitle}"></h2>
                        <p></p>
                        <div th:utext="${post.suggestionBoardText}"></div>
                        <p></p>
                        <p>
                            작성자: <span th:text="${post.suggestionBoardAuthor}"></span><br/>
                            작성일자: <span th:text="${#temporals.format(post.suggestionBoardRegDate, 'yyyy-MM-dd HH시 mm분')}"></span>
                        </p>
                    </div>
                    <div th:unless="${post}">
                        <p>게시물이 존재하지 않습니다.</p>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2" >수정</button>
                    <button type="submit" class="btn btn-danger mt-2" >삭제</button>
                    </form>
                </div>
            </div>
<!--    <div id="commentList" class="container-fluid px-4">-->
<!--        <ul th:if="${comments}" th:each="comment : ${comments}">-->
<!--            <li>-->
<!--                <strong th:text="${comment.fbcAuthor}"></strong>:-->
<!--                <span th:text="${comment.fbcText}"></span>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <p th:unless="${comments}">댓글이 없습니다.</p>-->
<!--    </div>-->
    <!-- 댓글 작성 폼 -->
<!--    <form id="commentForm" class="container-fluid px-4" action="/freeBoard/fbcCreate" method="post">-->
<!--        <i class="fas fa-table me-1 "></i>-->
<!--        <input type="hidden" id="freeBoardId" name="freeBoardId" th:value="${post.freeBoardId}" >-->
<!--        <input type="hidden" id="fbcAuthor" name="fbcAuthor" th:value="${session.userNickname}" >-->
<!--        <label for="commentText">댓글 작성</label>-->
<!--        <textarea id="commentText" name="fbcText" rows="4" class="form-control" ></textarea>-->
<!--        <button type="submit" class="btn btn-primary mt-2" >댓글 작성</button>-->
<!--    </form>-->

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        var userId = /*[[${session.userNickName}]]*/ null; // 세션의 userId 값을 가져옴

        <!-- 댓글 작성 완료 시 실행되는 스크립트 -->
        function submitPostForm() {


            var freeBoardId = $('#freeBoardId').val();
            console.log(freeBoardId);
            var fbcAuthor = $('#fbcAuthor').val();
            console.log(fbcAuthor);
<!--            var freeBoardText = $('#freeBoardText').val();-->
<!--            if(freeBoardTitle == "" || freeBoardTitle == null){-->
<!--                alert("제목을 입력해주세요");-->
<!--                return;-->
<!--            }-->
<!--            if(freeBoardText == "" || freeBoardText == null){-->
<!--                alert("내용을 입력해주세요");-->
<!--                return;-->
<!--            }-->

            // 글 작성 완료 후 서버로 데이터 전송 (Ajax를 사용하여 비동기 처리)
<!--            $.ajax({-->
<!--                type: 'POST',-->
<!--                url: '/freeBoard/create', // 실제로 데이터를 저장하는 엔드포인트로 변경해야 합니다.-->
<!--                data: {freeBoardTitle: freeBoardTitle, freeBoardText: freeBoardText},-->
<!--                success: function () {-->
<!--                    // 작성 완료 후 팝업 닫기-->
<!--                    $('#writePostModal').modal('hide');-->
<!--                    // 메인 화면 새로고침-->
<!--                    location.reload();-->
<!--                },-->
<!--                error: function () {-->
<!--                    alert('글 작성 실패');-->
<!--                }-->
<!--            });-->
        }
    </script>
</th:block>
</html>