<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="add-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/suggestionBoardStyles.css}">
</th:block>

<th:block layout:fragment="title">
    <title>건의게시판</title>
</th:block>

<th:block layout:fragment="content">
    <div class="mt-4 mb-2 d-flex align-items-center">
        <i class="fas fa-table me-1 fa-2x me-1"></i>
        <h2 class="mb-0"> 건의게시판</h2>
    </div>
    <div class="mb-3" style="text-align: right">
        <input type="checkbox" class="btn-check" id="excludeSecret" value="N">
        <label class="btn btn-outline-primary" for="excludeSecret">비밀글 제외</label>
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="openModal()">
            글 작성
        </button>
    </div>
    <div class="mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 15%;">작성자</th>
                    <th style="width: 15%;">답변여부</th>
                    <th style="width: 50%;">내용</th>
                    <th style="width: 20%;">등록일자</th>
                </tr>
            </thead>
            <tbody class="postList"></tbody>
        </table>
    </div>
</th:block>

<th:block layout:fragment="modal">
    <!-- 글 작성 팝업 모달 -->
    <div class="modal fade" id="writePostModal" tabindex="-1" role="dialog" aria-labelledby="writePostModalLabel"
         aria-hidden="true" th:fragment="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="writePostModalLabel">건의게시판 글 작성</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 글 작성 폼 -->
                    <form id="postForm">
                        <label for="suggestionBoardTitle">제목</label>
                        <div class="input-wrapper">
                            <input id="suggestionBoardTitle" name="suggestionBoardTitle" class="form-control">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="suggestionBoardSecYn" id="suggestionBoardSecYn" value="N">
                                <label for="suggestionBoardSecYn">비밀글</label>
                            </div>
                        </div>
                        <label for="suggestionBoardText">내용</label>
                        <textarea id="suggestionBoardText" name="suggestionBoardText" rows="8" class="form-control"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="submitPostForm()">작성 완료</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        window.onload = () => {
            renderPost();
        }

        <!--세션의 정보를 값을 가져옴-->
        const userId = /*[[${session.userId}]]*/ null;
        const userAuth = /*[[${session.userAuth}]]*/ null;
        const userNickname = /*[[${session.userNickname}]]*/ null;
        const userMemberYn = /*[[${session.userMemberYn}]]*/ null;

        // 게시글 렌더링
        function renderPost() {
            let exSecYn = document.getElementById("excludeSecret").value; // 비밀글제외 클릭 값
            let methodName = ''; // ajax에 들어갈 함수명
            if(exSecYn == 'N'){ // 비밀글제외 미클릭
                methodName = 'posts';
            }else if(exSecYn == 'Y'){
                methodName = 'publicPosts';
            }

            $.ajax({
                url : `/suggestionBoard/${methodName}`,
                type : 'get',
                dataType : 'json',
                async : false,
                success : function(response){

                    // 1. 조회된 데이터가 없는 경우
                    if(!response.length){
                        document.querySelector('.postList').innerHTML = `<tr class="cm_none"><td colspan="4">등록된 건의사항이 없습니다.</td></tr>`;
                        return false;
                    }

                    // 2. 렌더링 할 HTML을 저장할 변수
                    let postHtml = '';

                    // 3. 리스트 HTML 추가
                    response.forEach(post => {
                        // 속성 변수화
                        let author = post.suggestionBoardAuthor; // 작성자
                        let solYn = post.suggestionBoardSolYn == 'N' ? '답변예정' : '답변완료' ; // 답변여부
                        let title = post.suggestionBoardTitle; // 제목
                        if(post.suggestionBoardSecYn == 'Y'){ // 비밀글여부에 따른 제목 값 변환
                            if(userId != post.fbUserId){
                                if(userAuth == 'Y'){
                                    title = post.suggestionBoardTitle + "<i class='icon fas fa-key'></i>";
                                }else {
                                    title = "비밀글 입니다. <i class='icon fas fa-key'></i>";
                                }
                            }else if(userId == post.fbUserId){
                                title = post.suggestionBoardTitle + "<i class='icon fas fa-key'></i>";
                            }
                        }
                        let dataSecret = ''; // data-secret 값 넣기
                        if(post.suggestionBoardSecYn != 'Y'){ // 비밀글이 아닐 때
                            dataSecret = 'N';
                        }else if(post.suggestionBoardSecYn == 'Y' && userId != post.fbUserId){ // 비밀글이고 세션사용자와 작성자가 다를 때
                            if(userAuth == 'Y'){
                                dataSecret = 'N';
                            }else {
                                dataSecret = 'Y';
                            }
                        }else if(post.suggestionBoardSecYn == 'Y' && userId == post.fbUserId){ // 비밀글이고 세션사용자와 작성자가 같을 때
                            dataSecret = 'N';
                        }
                        let regDate = post.suggestionBoardRegDate != null ? dayjs(post.suggestionBoardRegDate).format('YYYY-MM-DD HH:mm') : "";

                        // 답변여부에 따라 내용 다르게
                        let solYnText = '';
                        if(solYn === '답변예정'){
                            solYnText = `
                                <tr class="suggestionText">
                                    <td colspan="3">${post.suggestionBoardText}</td>
                                    <td><button class="btn btn-primary" onclick="toggleAnswerForm(this)">답변하기</button></td>
                                </tr>
                                <tr class="answerForm answerForm-none">
                                    <input type="hidden" value="${post.suggestionBoardId}">
                                    <td colspan="3">
                                        <textarea placeholder="200자 이내로 입력해 주세요."
                                        class="form-control" name="sbcText" cols="30" rows="4"></textarea>
                                    </td>
                                    <td><button class="btn btn-primary" onclick="answer(this)">답변 작성</button></td>
                                </tr>
                            `;
                        }else if(solYn === '답변완료'){
                            // 해당 게시글의 답변 가져오기
                            $.ajax({
                                url : `/suggestionBoard/comments/${post.suggestionBoardId}`,
                                type : 'get',
                                dataType : 'json',
                                async : false,
                                success : function(response){
                                    solYnText = `
                                        <tr class="suggestionText">
                                            <td colspan="4">${post.suggestionBoardText}</td>
                                        </tr>
                                        <tr class="suggestionText table-light">
                                            <td><strong>${response.sbcAuthor}</strong></td>
                                            <td colspan="2">${response.sbcText}</td>
                                            <td>${dayjs(response.sbcRegDate).format('YYYY-MM-DD HH:mm')}</td>
                                        </tr>
                                    `;
                                },
                                error : function(request, status, error){
                                    console.log(error);
                                }
                            })
                        }

                        // 값을 html에 집어넣기
                        postHtml += `
                            <tr>
                                <!--작성자-->
                                <td>${author}</td>
                                <!--답변여부-->
                                <td style="font-weight: bold;">${solYn}</td>
                                <!--비밀글 여부에 따라 내용노출 다르게-->
                                <td><button class="suggestionTitle" data-secret="${dataSecret}" onclick="toggleRow(this)">${title}</button></td>
                                <!--등록일자-->
                                <td>${regDate}</td>
                            </tr>
                            ${solYnText}
                        `;
                    })

                    // 4. class가 postList인 요소를 찾아 HTML을 렌더링
                    document.querySelector('.postList').innerHTML = postHtml;

                },
                error : function(request, status, error){
                    console.log(error);
                }
            })
        }

        <!--비밀글 제외 게시글조회-->
        document.addEventListener("DOMContentLoaded", function() {
            let excludeSecret = document.getElementById("excludeSecret");

            excludeSecret.addEventListener("change", function() {

                if (this.checked) {
                    this.value = 'Y'; // 체크된 경우 'Y'로 설정
                } else {
                    this.value = 'N'; // 체크 해제된 경우 'N'으로 설정
                }
                let checkboxValue = this.value;
                renderPost();
            });
        });

        <!--세션의 userId 값이 null이면 알림 창 띄우기, 그렇지 않으면 모달 열기-->
        function openModal() {
            if (userId === null || userId === '') {
                if(confirm('로그인을 하셔야 글 작성이 가능합니다. \n로그인을 하시겠습니까?')) {
                    window.location.href = '/login';
                }
            }else if (userMemberYn !== 'Y'){
                alert('멤버만 작성하실 수 있습니다.');
                return;
            }else {
                $('#writePostModal').modal('show');
            }
        }

        <!--모달창 닫기-->
        function closeModal() {
             $('#writePostModal').modal('hide');
        }

        <!--게시글 작성 비밀글 여부 확인-->
        document.addEventListener("DOMContentLoaded", function() {
            let checkbox = document.getElementById("suggestionBoardSecYn");

            checkbox.addEventListener("change", function() {
                if (this.checked) {
                    this.value = 'Y'; // 체크된 경우 'Y'로 설정
                } else {
                    this.value = 'N'; // 체크 해제된 경우 'N'으로 설정
                }
            });
        });

        <!-- 글 작성 완료 시 실행되는 스크립트 -->
        function submitPostForm() {
            let suggestionBoardTitle = document.getElementById('suggestionBoardTitle').value;
            let suggestionBoardText = document.getElementById('suggestionBoardText').value;
            let suggestionBoardSecYn = document.getElementById('suggestionBoardSecYn').value;

            if(suggestionBoardTitle == "" || suggestionBoardTitle == null){
                alert("제목을 입력해주세요");
                return;
            }
            if(suggestionBoardText == "" || suggestionBoardText == null){
                alert("내용을 입력해주세요");
                return;
            }

            // 글 작성 완료 후 서버로 데이터 전송 (Ajax를 사용하여 비동기 처리)
            $.ajax({
                type: 'POST',
                url: '/suggestionBoard/posts', // 실제로 데이터를 저장하는 엔드포인트로 변경해야 합니다.
                data: {suggestionBoardTitle: suggestionBoardTitle
                      ,suggestionBoardText: suggestionBoardText
                      ,suggestionBoardSecYn: suggestionBoardSecYn},
                success: function () {
                    // 작성 완료 후 팝업 닫기
                    $('#writePostModal').modal('hide');
                    // 메인 화면 새로고침
                    location.reload();
                },
                error: function () {
                    alert('글 작성 실패');
                }
            });
        }

        <!--글 제목 클릭 시 내용 노출-->
        function toggleRow(button) {
            // 비밀글 여부 확인
            let isSecret = button.getAttribute("data-secret");

            if(isSecret == "Y"){
                // 비밀글이고 로그인정보와 작성자가 일치하지 않을 경우 알림창 띄우고 동작 멈추기
                alert("비밀글로 작성자만 볼 수 있습니다.");
                return;
            }else{
                // 비밀글이 아닌 경우 해당 행의 내용 토글
                let row = button.parentNode.parentNode.nextElementSibling;
                let nextRow= row.nextElementSibling;
                if (row.classList.contains('suggestionText')) {
                    row.classList.remove('suggestionText');
                    nextRow.classList.remove('suggestionText');
                } else { // 답변여부에 따른 클래스리스트 추가
                    row.classList.add('suggestionText');
                    if(nextRow.classList.contains('answerForm')){
                        nextRow.classList.add('answerForm-none');
                    }else {
                        nextRow.classList.add('suggestionText');
                    }
                }
            }
        }

        <!--답변하기 클릭 시 답변 폼 노출-->
        function toggleAnswerForm(button) {
            let row = button.parentNode.parentNode.nextElementSibling;
            if (row.classList.contains('answerForm-none')) {
                row.classList.remove('answerForm-none');
            } else {
                row.classList.add('answerForm-none');
            }
        }

        <!--답변 작성 클릭 시 답변 등록-->
        function answer(button) {
            // 해당 함수 매개변수 button과 연관되어있는 input의 value 가져오기
            let suggestionBoardId = button.parentNode.parentNode.querySelector('input[type="hidden"]').value;

            // text 내용 가져오기
            let sbcText = button.parentNode.parentNode.querySelector('textarea[name="sbcText"]').value;

            // text 내용 10자에서 200자이하 정규식검사
            const regex = /^.{10,200}$/;
            if(!regex.test(sbcText)){
                alert("10자 이상, 200자 이하로 입력해주세요.");
                return;
            }

            // 작성자 가져오기
            let sbcAuthor = userNickname;
            console.log(suggestionBoardId + ',' + sbcText + ',' + sbcAuthor);

            // 답변 작성 확인
            if (confirm("답변을 작성하시겠습니까?")){
                $.ajax({
                    type: 'POST',
                    url: '/suggestionBoard/comments',
                    data: {suggestionBoardId: suggestionBoardId
                          ,sbcText: sbcText
                          ,sbcAuthor: sbcAuthor},
                    async: false,
                    success: function () {
                        // 메인 화면 새로고침
                        alert('답변을 성공적으로 작성하였습니다.')
                        location.reload();
                    },
                    error: function () {
                        alert('답변 작성에 실패하였습니다.');
                    }
                });
            }else {
                alert("취소되었습니다.")
            }

        }

    </script>
</th:block>

</html>
