<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>건의게시판</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .suggestionTitle{
            appearance: none;
            font-family: inherit;
            font-size: inherit;
            border: 0px;
            cursor: pointer;
            background: none;
            line-height: 1.5;
        }
        .suggestionText{
            display: none;
        }
        .input-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .checkbox-wrapper {
            display: flex;
            margin-left: auto; /* 요소를 오른쪽으로 이동 */
        }

        .checkbox-wrapper input[type="checkbox"] {
            margin-left: 5px;
        }

        .checkbox-wrapper label {
            margin-left: 5px;
            width: 50px;
        }
        .table > :not(:first-child) {
            border-top: 0px;
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <h1 class="mt-4">건의게시판</h1>
    <div class="right" style="text-align: right">
        <input type="checkbox" class="btn-check" id="excludeSecret" value="N">
        <label class="btn btn-outline-primary" for="excludeSecret">비밀글 제외</label>
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="openModal()">
            글 작성
        </button>
    </div>
    <ol class="breadcrumb mb-4">

    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            건의게시판
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>작성자</th>
                        <th>답변여부</th>
                        <th>내용</th>
                        <th>등록일자</th>
                    </tr>
                </thead>
                <tbody class="postList">

                </tbody>
            </table>
        </div>
    </div>
</th:block>

<th:block layout:fragment="modal">
    <!-- 글 작성 팝업 모달 -->
    <div class="modal fade" id="writePostModal" tabindex="-1" role="dialog" aria-labelledby="writePostModalLabel"
         aria-hidden="true" th:fragment="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="writePostModalLabel">건의게시판 글 작성</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 글 작성 폼 -->
                    <form id="postForm">
                        <label for="suggestionBoardTitle">제목</label>
                        <div class="input-wrapper">
                            <input id="suggestionBoardTitle" name="suggestionBoardTitle" class="form-control">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="suggestionBoardSecYn" id="suggestionBoardSecYn" value="N">
                                <label for="suggestionBoardSecYn">비밀글</label>
                            </div>
                        </div>
                        <label for="suggestionBoardText">내용</label>
                        <textarea id="suggestionBoardText" name="suggestionBoardText" rows="8" class="form-control"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="submitPostForm()">작성 완료</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        window.onload = () => {
            lenderPost();
        }

        <!--세션의 userId 값을 가져옴-->
        let userId = /*[[${session.userId}]]*/ null;
        let userAuth = /*[[${session.userAuth}]]*/ null;

        // 게시글 렌더링
        function lenderPost() {
            // 로그인이 안되어있으면 return false
            if (userId == '' || userId == null){
                return false;
            }

            let exSecYn = document.getElementById("excludeSecret").value; // 비밀글제외 클릭 값
            let methodName = ''; // ajax에 들어갈 함수명
            if(exSecYn == 'N'){ // 비밀글제외 미클릭
                methodName = 'findAll';
            }else if(exSecYn == 'Y'){
                methodName = 'findExcludeSec';
            }

            $.ajax({
                url : `/suggestionBoard/${methodName}`,
                type : 'get',
                dataType : 'json',
                async : false,
                success : function(response){

                    // 1. 조회된 데이터가 없는 경우
                    if(!response.length){
                        document.querySelector('.postList').innerHTML = `<tr class="cm_none"><td colspan="4">등록된 건의사항이 없습니다.</td></tr>`;
                        return false;
                    }

                    // 2. 렌더링 할 HTML을 저장할 변수
                    let postHtml = '';

                    // 3. 리스트 HTML 추가
                    response.forEach(post => {
                        // 속성 변수화
                        let author = post.suggestionBoardAuthor; // 작성자
                        let solYn = post.suggestionBoardSolYn == 'N' ? '답변예정' : '답변완료' ; // 답변여부
                        let title = post.suggestionBoardTitle; // 제목
                        if(post.suggestionBoardSecYn == 'Y'){ // 비밀글여부에 따른 제목 값 변환
                            if(userId != post.fbUserId){
                                if(userAuth == 'Y'){
                                    title = post.suggestionBoardTitle + "<i class='icon fas fa-key'></i>";
                                }else {
                                    title = "비밀글 입니다. <i class='icon fas fa-key'></i>";
                                }
                            }else if(userId == post.fbUserId){
                                title = post.suggestionBoardTitle + "<i class='icon fas fa-key'></i>";
                            }
                        }
                        let dataSecret = ''; // data-secret 값 넣기
                        if(post.suggestionBoardSecYn != 'Y'){ // 비밀글이 아닐 때
                            dataSecret = 'N';
                        }else if(post.suggestionBoardSecYn == 'Y' && userId != post.fbUserId){ // 비밀글이고 세션사용자와 작성자가 다를 때
                            if(userAuth == 'Y'){
                                dataSecret = 'N';
                            }else {
                                dataSecret = 'Y';
                            }
                        }else if(post.suggestionBoardSecYn == 'Y' && userId == post.fbUserId){ // 비밀글이고 세션사용자와 작성자가 같을 때
                            dataSecret = 'N';
                        }
                        let regDate = post.suggestionBoardRegDate != null ? dayjs(post.suggestionBoardRegDate).format('YYYY-MM-DD HH:mm') : "";

                        // 값을 html에 집어넣기
                        postHtml += `
                            <tr>
                                <!--작성자-->
                                <td>${author}</td>
                                <!--답변여부-->
                                <td style="font-weight: bold;">${solYn}</td>
                                <!--비밀글 여부에 따라 내용노출 다르게-->
                                <td><button class="suggestionTitle" data-secret="${dataSecret}" onclick="toggleRow(this)">${title}</button></td>
                                <!--등록일자-->
                                <td>${regDate}</td>
                            </tr>
                            <tr class="suggestionText">
                                <td colspan="4">${post.suggestionBoardText}</td>
                            </tr>
                        `;
                    })

                    // 4. class가 postList인 요소를 찾아 HTML을 렌더링
                    document.querySelector('.postList').innerHTML = postHtml;

                },
                error : function(request, status, error){
                    console.log(error);
                }
            })
        }

        <!--비밀글 제외 게시글조회-->
        document.addEventListener("DOMContentLoaded", function() {
            let excludeSecret = document.getElementById("excludeSecret");

            excludeSecret.addEventListener("change", function() {

                if (this.checked) {
                    this.value = 'Y'; // 체크된 경우 'Y'로 설정
                } else {
                    this.value = 'N'; // 체크 해제된 경우 'N'으로 설정
                }
                console.log(this.value);
                let checkboxValue = this.value;
                lenderPost();
            });
        });

        <!--세션의 userId 값이 null이면 알림 창 띄우기, 그렇지 않으면 모달 열기-->
        function openModal() {
            if (userId === null) {
                alert('로그인이 필요합니다!');
            } else {
                $('#writePostModal').modal('show');
            }
        }

        <!--모달창 닫기-->
        function closeModal() {
             $('#writePostModal').modal('hide');
        }

        <!--게시글 작성 비밀글 여부 확인-->
        document.addEventListener("DOMContentLoaded", function() {
            let checkbox = document.getElementById("suggestionBoardSecYn");

            checkbox.addEventListener("change", function() {
                if (this.checked) {
                    this.value = 'Y'; // 체크된 경우 'Y'로 설정
                } else {
                    this.value = 'N'; // 체크 해제된 경우 'N'으로 설정
                }
            });
        });

        <!-- 글 작성 완료 시 실행되는 스크립트 -->
        function submitPostForm() {
            let suggestionBoardTitle = document.getElementById('suggestionBoardTitle').value;
            let suggestionBoardText = document.getElementById('suggestionBoardText').value;
            let suggestionBoardSecYn = document.getElementById('suggestionBoardSecYn').value;

            if(suggestionBoardTitle == "" || suggestionBoardTitle == null){
                alert("제목을 입력해주세요");
                return;
            }
            if(suggestionBoardText == "" || suggestionBoardText == null){
                alert("내용을 입력해주세요");
                return;
            }

            // 글 작성 완료 후 서버로 데이터 전송 (Ajax를 사용하여 비동기 처리)
            $.ajax({
                type: 'POST',
                url: '/suggestionBoard/create', // 실제로 데이터를 저장하는 엔드포인트로 변경해야 합니다.
                data: {suggestionBoardTitle: suggestionBoardTitle
                      ,suggestionBoardText: suggestionBoardText
                      ,suggestionBoardSecYn: suggestionBoardSecYn},
                success: function () {
                    // 작성 완료 후 팝업 닫기
                    $('#writePostModal').modal('hide');
                    // 메인 화면 새로고침
                    location.reload();
                },
                error: function () {
                    alert('글 작성 실패');
                }
            });
        }

        <!--글 제목 클릭 시 내용 노출-->
        function toggleRow(button) {
            // 비밀글 여부 확인
            let isSecret = button.getAttribute("data-secret");

            if(isSecret == "Y"){
                // 비밀글이고 로그인정보와 작성자가 일치하지 않을 경우 알림창 띄우고 동작 멈추기
                alert("비밀글로 작성자만 볼 수 있습니다.");
                return;
            }else{
                // 비밀글이 아닌 경우 해당 행의 내용 토글
                let row = button.parentNode.parentNode.nextElementSibling;
                if (row.classList.contains('suggestionText')) {
                    row.classList.remove('suggestionText');
                } else {
                    row.classList.add('suggestionText');
                }
            }
        }

    </script>
</th:block>

</html>
